In [1]:
# hmm
import pandas as pd
pd.options.display.max_columns = 50
pd.options.display.max_rows = 50
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# read .csv into frame
df = pd.read_csv('ATPtotal.csv', index_col = 0)
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,loser_id,loser_seed,loser_entry,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,score,best_of,round,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2019-M020,Brisbane,Hard,32,A,20181231,300,105453,2.0,NaN,Kei Nishikori,R,178.0,JPN,29.004791,106421,4.0,NaN,Daniil Medvedev,R,198.0,RUS,22.885695,6-4 3-6 6-2,3,F,124.0,3.0,3.0,77.0,44.0,31.0,17.0,13.0,3.0,6.0,8.0,6.0,100.0,54.0,34.0,20.0,14.0,10.0,15.0,9.0,3590.0,16.0,1977.0
1,2019-M020,Brisbane,Hard,32,A,20181231,299,106421,4.0,NaN,Daniil Medvedev,R,198.0,RUS,22.885695,104542,NaN,PR,Jo-Wilfried Tsonga,R,188.0,FRA,33.705681,7-6(6) 6-2,3,SF,82.0,10.0,1.0,52.0,33.0,28.0,14.0,10.0,0.0,1.0,17.0,2.0,77.0,52.0,36.0,7.0,10.0,10.0,13.0,16.0,1977.0,239.0,200.0
2,2019-M020,Brisbane,Hard,32,A,20181231,298,105453,2.0,NaN,Kei Nishikori,R,178.0,JPN,29.004791,104871,NaN,NaN,Jeremy Chardy,R,188.0,FRA,31.882272,6-2 6-2,3,SF,66.0,2.0,2.0,47.0,33.0,26.0,9.0,8.0,2.0,2.0,10.0,3.0,46.0,27.0,15.0,6.0,8.0,1.0,5.0,9.0,3590.0,40.0,1050.0
3,2019-M020,Brisbane,Hard,32,A,20181231,297,104542,NaN,PR,Jo-Wilfried Tsonga,R,188.0,FRA,33.705681,200282,7.0,NaN,Alex De Minaur,R,183.0,AUS,19.868583,6-4 7-6(2),3,QF,106.0,12.0,2.0,68.0,43.0,34.0,15.0,11.0,4.0,5.0,1.0,2.0,81.0,60.0,38.0,9.0,11.0,4.0,6.0,239.0,200.0,31.0,1298.0
4,2019-M020,Brisbane,Hard,32,A,20181231,296,106421,4.0,NaN,Daniil Medvedev,R,198.0,RUS,22.885695,105683,5.0,NaN,Milos Raonic,R,196.0,CAN,28.010951,6-7(2) 6-3 6-4,3,QF,129.0,12.0,3.0,105.0,68.0,48.0,25.0,16.0,8.0,8.0,29.0,5.0,94.0,56.0,46.0,19.0,15.0,2.0,4.0,16.0,1977.0,18.0,1855.0

In [3]:
# check shape of frame
df.shape

(180305, 49)

In [4]:
# get dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180305 entries, 0 to 2900
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   tourney_id          180305 non-null  object
 1   tourney_name        180305 non-null  object
 2   surface             177866 non-null  object
 3   draw_size           180305 non-null  int64
 4   tourney_level       180305 non-null  object
 5   tourney_date        180305 non-null  int64
 6   match_num           180305 non-null  int64
 7   winner_id           180305 non-null  int64
 8   winner_seed         68460 non-null   float64
 9   winner_entry        15845 non-null   object
 10  winner_name         180305 non-null  object
 11  winner_hand         180245 non-null  object
 12  winner_ht           161551 non-null  float64
 13  winner_ioc          180297 non-null  object
 14  winner_age          178334 non-null  float64
 15  loser_id            180305 non-null  int64
 16  loser_seed          34624 non-null   float64
 17  loser_entry         27067 non-null   object
 18  loser_name          180305 non-null  object
 19  loser_hand          180164 non-null  object
 20  loser_ht            149221 non-null  float64
 21  loser_ioc           180250 non-null  object
 22  loser_age           174584 non-null  float64
 23  score               180294 non-null  object
 24  best_of             180305 non-null  int64
 25  round               180305 non-null  object
 26  minutes             86872 non-null   float64
 27  w_ace               89475 non-null   float64
 28  w_df                89475 non-null   float64
 29  w_svpt              89475 non-null   float64
 30  w_1stIn             89475 non-null   float64
 31  w_1stWon            89475 non-null   float64
 32  w_2ndWon            89475 non-null   float64
 33  w_SvGms             89476 non-null   float64
 34  w_bpSaved           89475 non-null   float64
 35  w_bpFaced           89475 non-null   float64
 36  l_ace               89475 non-null   float64
 37  l_df                89475 non-null   float64
 38  l_svpt              89475 non-null   float64
 39  l_1stIn             89475 non-null   float64
 40  l_1stWon            89475 non-null   float64
 41  l_2ndWon            89475 non-null   float64
 42  l_SvGms             89476 non-null   float64
 43  l_bpSaved           89475 non-null   float64
 44  l_bpFaced           89475 non-null   float64
 45  winner_rank         146633 non-null  float64
 46  winner_rank_points  103042 non-null  float64
 47  loser_rank          138391 non-null  float64
 48  loser_rank_points   101490 non-null  float64
dtypes: float64(29), int64(6), object(14)
memory usage: 68.8+ MB

In [5]:
# list columns for compact view
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [6]:
# rename columns
df.columns = df.columns.str.lower()\
.str.replace('_ace', '_aces')\
.str.replace('df', 'double_faults')\
.str.replace('svpt', 'service_points')\
.str.replace('1stin', 'first_serves_in')\
.str.replace('1stwon', 'first_serve_points_won')\
.str.replace('2ndwon', 'second_serve_points_won')\
.str.replace('svgms', 'service_game_total')\
.str.replace('bpsaved', 'break_points_saved')\
.str.replace('bpfaced', 'break_points_faced')

In [7]:
# verify
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180305 entries, 0 to 2900
Data columns (total 49 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   tourney_id                 180305 non-null  object
 1   tourney_name               180305 non-null  object
 2   surface                    177866 non-null  object
 3   draw_size                  180305 non-null  int64
 4   tourney_level              180305 non-null  object
 5   tourney_date               180305 non-null  int64
 6   match_num                  180305 non-null  int64
 7   winner_id                  180305 non-null  int64
 8   winner_seed                68460 non-null   float64
 9   winner_entry               15845 non-null   object
 10  winner_name                180305 non-null  object
 11  winner_hand                180245 non-null  object
 12  winner_ht                  161551 non-null  float64
 13  winner_ioc                 180297 non-null  object
 14  winner_age                 178334 non-null  float64
 15  loser_id                   180305 non-null  int64
 16  loser_seed                 34624 non-null   float64
 17  loser_entry                27067 non-null   object
 18  loser_name                 180305 non-null  object
 19  loser_hand                 180164 non-null  object
 20  loser_ht                   149221 non-null  float64
 21  loser_ioc                  180250 non-null  object
 22  loser_age                  174584 non-null  float64
 23  score                      180294 non-null  object
 24  best_of                    180305 non-null  int64
 25  round                      180305 non-null  object
 26  minutes                    86872 non-null   float64
 27  w_aces                     89475 non-null   float64
 28  w_double_faults            89475 non-null   float64
 29  w_service_points           89475 non-null   float64
 30  w_first_serves_in          89475 non-null   float64
 31  w_first_serve_points_won   89475 non-null   float64
 32  w_second_serve_points_won  89475 non-null   float64
 33  w_service_game_total       89476 non-null   float64
 34  w_break_points_saved       89475 non-null   float64
 35  w_break_points_faced       89475 non-null   float64
 36  l_aces                     89475 non-null   float64
 37  l_double_faults            89475 non-null   float64
 38  l_service_points           89475 non-null   float64
 39  l_first_serves_in          89475 non-null   float64
 40  l_first_serve_points_won   89475 non-null   float64
 41  l_second_serve_points_won  89475 non-null   float64
 42  l_service_game_total       89476 non-null   float64
 43  l_break_points_saved       89475 non-null   float64
 44  l_break_points_faced       89475 non-null   float64
 45  winner_rank                146633 non-null  float64
 46  winner_rank_points         103042 non-null  float64
 47  loser_rank                 138391 non-null  float64
 48  loser_rank_points          101490 non-null  float64
dtypes: float64(29), int64(6), object(14)
memory usage: 68.8+ MB

In [8]:
df.to_csv('ATP_updated_columns.csv')