In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import json
import os
import glob
import codecs
import csv
import prepare

In [2]:
#display all columns 
pd.set_option("display.max_columns", None)

In [3]:
#pulling in main csv
df = pd.read_csv('ATPMain.csv')
df.head(1)

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,score,best_of,round,minutes,player_1,player_2,player_1_age,player_2_age,player_1_entry,player_2_entry,player_1_hand,player_2_hand,player_1_ht,player_2_ht,player_1_id,player_2_id,player_1_ioc,player_2_ioc,player_1_name,player_2_name,player_1_rank,player_2_rank,player_1_rank_points,player_2_rank_points,player_1_seed,player_2_seed,player_1_aces,player_2_aces,player_1_double_faults,player_2_double_faults,player_1_service_points,player_2_service_points,player_1_first_serves_in,player_2_first_serves_in,player_1_first_serve_points_won,player_2_first_serve_points_won,player_1_second_serve_points_won,player_2_second_serve_points_won,player_1_service_game_total,player_2_service_game_total,player_1_break_points_saved,player_2_break_points_saved,player_1_break_points_faced,player_2_break_points_faced,winner,player_1_first_serve_%,player_2_first_serve_%,player_1_first_serve_win_%,player_2_first_serve_win_%,player_1_break_points_won,player_2_break_points_won
0,0,2019-M020,Brisbane,Hard,32,A,20181231,300,6-4 3-6 6-2,3,F,124.0,Daniil Medvedev,Kei Nishikori,22.885695,29.004791,NaN,NaN,R,R,198.0,178.0,106421,105453,RUS,JPN,Daniil Medvedev,Kei Nishikori,16.0,9.0,1977.0,3590.0,4.0,2.0,8.0,3.0,6.0,3.0,100.0,77.0,54.0,44.0,34.0,31.0,20.0,17.0,14.0,13.0,10.0,3.0,15.0,6.0,Kei Nishikori,0.54,0.571429,0.62963,0.704545,3.0,5.0

In [50]:
#prepare function - (check for updated file)
df = prepare.prepare_atp()
df.shape

(43704, 78)

In [ ]:
# # Win Count DF - Will 
# win_count = df.groupby('winner_id')[['winner_name']].agg('count').sort_values(by='winner_id').astype(int).reset_index()
# win_count = win_count.rename(columns={'winner_name': 'win_count', 'winner_id' : 'PlayerID'})
# win_count

In [51]:
#Have to rename columns because string values used in next cell don't like '%'
columns_to_rename = {'player_1_first_serve_%' : 'player_1_first_serve_percent',
                    'player_2_first_serve_%' : 'player_2_first_serve_percent',
                    'player_1_first_serve_win_%': 'player_1_first_serve_win_percent',
                     'player_2_first_serve_win_%': 'player_2_first_serve_win_percent'
                    
                    }

df = df.rename(columns = columns_to_rename)

In [52]:
df['player_1_counter']=1
df['player_2_counter']=1

In [53]:
#changing to int so I can use for player 2 column
#creating a counter percentage
df['player_1_wins'] = df['player_1_wins'].astype(int)
#df['player_2_wins'] = ((df['player_1_wins'] - 1) * -1)
#df['player_2_wins'], df['player_2_wins']
df['player_1_wins']

tourney_date
1999-01-11    1
1999-01-11    0
1999-01-11    0
1999-01-11    0
1999-01-11    1
             ..
2019-11-23    1
2019-11-23    1
2019-11-23    0
2019-11-24    0
2019-11-24    0
Name: player_1_wins, Length: 43704, dtype: int64

In [54]:
df['player_2_wins'] = ((df['player_1_wins'] - 1) * -1)
df['player_2_wins']

tourney_date
1999-01-11    0
1999-01-11    1
1999-01-11    1
1999-01-11    1
1999-01-11    0
             ..
2019-11-23    0
2019-11-23    0
2019-11-23    1
2019-11-24    1
2019-11-24    1
Name: player_2_wins, Length: 43704, dtype: int64

In [55]:
df.head(1)

,tourney_id,tourney_name,surface,draw_size,tourney_level,match_num,score,best_of,round,minutes,player_1,player_2,player_1_age,player_2_age,player_1_entry,player_2_entry,player_1_hand,player_2_hand,player_1_ht,player_2_ht,player_1_id,player_2_id,player_1_ioc,player_2_ioc,player_1_name,player_2_name,player_1_rank,player_2_rank,player_1_rank_points,player_2_rank_points,player_1_seed,player_2_seed,player_1_aces,player_2_aces,player_1_double_faults,player_2_double_faults,player_1_service_points,player_2_service_points,player_1_first_serves_in,player_2_first_serves_in,player_1_first_serve_points_won,player_2_first_serve_points_won,player_1_second_serve_points_won,player_2_second_serve_points_won,player_1_service_game_total,player_2_service_game_total,player_1_break_points_saved,player_2_break_points_saved,player_1_break_points_faced,player_2_break_points_faced,winner,player_1_first_serve_percent,player_2_first_serve_percent,player_1_first_serve_win_percent,player_2_first_serve_win_percent,player_1_break_points_won,player_2_break_points_won,player_1_wins,surface_Clay,surface_Grass,surface_Hard,tourney_level_D,tourney_level_F,tourney_level_G,tourney_level_M,player_1_hand_R,player_1_hand_U,player_2_hand_R,player_2_hand_U,round_ER,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF,player_1_counter,player_2_counter,player_2_wins
tourney_date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1999-01-11,1999-338,Sydney,Hard,32,A,16,7-6(1) 6-1,3,R32,84.0,Lleyton Hewitt,Patrick Rafter,17.878166,26.036961,NaN,NaN,R,R,180.0,185.0,103720,102158,AUS,AUS,Lleyton Hewitt,Patrick Rafter,104.0,4.0,456.0,3315.0,NaN,2.0,2.0,0.0,0.0,5.0,73.0,59.0,51.0,36.0,32.0,24.0,14.0,8.0,10.0,9.0,4.0,3.0,6.0,7.0,Lleyton Hewitt,0.69863,0.610169,0.627451,0.666667,4.0,2.0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,0

In [56]:
df[df.winner == 'Richard Krajicek']

,tourney_id,tourney_name,surface,draw_size,tourney_level,match_num,score,best_of,round,minutes,player_1,player_2,player_1_age,player_2_age,player_1_entry,player_2_entry,player_1_hand,player_2_hand,player_1_ht,player_2_ht,player_1_id,player_2_id,player_1_ioc,player_2_ioc,player_1_name,player_2_name,player_1_rank,player_2_rank,player_1_rank_points,player_2_rank_points,player_1_seed,player_2_seed,player_1_aces,player_2_aces,player_1_double_faults,player_2_double_faults,player_1_service_points,player_2_service_points,player_1_first_serves_in,player_2_first_serves_in,player_1_first_serve_points_won,player_2_first_serve_points_won,player_1_second_serve_points_won,player_2_second_serve_points_won,player_1_service_game_total,player_2_service_game_total,player_1_break_points_saved,player_2_break_points_saved,player_1_break_points_faced,player_2_break_points_faced,winner,player_1_first_serve_percent,player_2_first_serve_percent,player_1_first_serve_win_percent,player_2_first_serve_win_percent,player_1_break_points_won,player_2_break_points_won,player_1_wins,surface_Clay,surface_Grass,surface_Hard,tourney_level_D,tourney_level_F,tourney_level_G,tourney_level_M,player_1_hand_R,player_1_hand_U,player_2_hand_R,player_2_hand_U,round_ER,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF,player_1_counter,player_2_counter,player_2_wins
tourney_date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1999-01-11,1999-338,Sydney,Hard,32,A,9,6-4 4-0 RET,3,R32,61.0,Jerome Golmard,Richard Krajicek,25.338809,27.099247,Q,NaN,L,R,188.0,196.0,102259,101990,FRA,NED,Jerome Golmard,Richard Krajicek,50.0,10.0,833.0,2548.0,NaN,6.0,0.0,8.0,2.0,1.0,44.0,45.0,27.0,27.0,15.0,23.0,8.0,8.0,8.0,7.0,3.0,1.0,6.0,1.0,Richard Krajicek,0.613636,0.600000,0.555556,0.851852,0.0,3.0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1
1999-01-18,1999-580,Australian Open,Hard,128,G,92,6-3 6-2 7-5,5,R64,125.0,Mariano Zabaleta,Richard Krajicek,20.887064,27.118412,NaN,NaN,R,R,183.0,196.0,103151,101990,ARG,NED,Mariano Zabaleta,Richard Krajicek,54.0,9.0,810.0,2548.0,NaN,9.0,4.0,8.0,2.0,2.0,87.0,93.0,57.0,60.0,36.0,51.0,13.0,19.0,14.0,15.0,2.0,1.0,6.0,1.0,Richard Krajicek,0.655172,0.645161,0.631579,0.850000,0.0,4.0,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,1,1
1999-01-18,1999-580,Australian Open,Hard,128,G,56,6-7(4) 6-2 6-4 6-2,5,R128,137.0,Hicham Arazi,Richard Krajicek,25.248460,27.118412,NaN,NaN,L,R,175.0,196.0,102271,101990,MAR,NED,Hicham Arazi,Richard Krajicek,35.0,9.0,1069.0,2548.0,NaN,9.0,4.0,27.0,4.0,2.0,128.0,130.0,60.0,92.0,38.0,82.0,34.0,21.0,19.0,19.0,4.0,0.0,11.0,2.0,Richard Krajicek,0.468750,0.707692,0.633333,0.891304,2.0,7.0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,1,1
1999-02-15,1999-407,Rotterdam,Carpet,32,A,12,6-3 7-5,3,R32,61.0,Marc Rosset,Richard Krajicek,28.273785,27.195072,NaN,NaN,R,R,201.0,196.0,101820,101990,SUI,NED,Marc Rosset,Richard Krajicek,23.0,10.0,1493.0,2386.0,NaN,4.0,9.0,15.0,7.0,2.0,50.0,55.0,32.0,34.0,26.0,33.0,8.0,13.0,10.0,11.0,0.0,0.0,2.0,0.0,Richard Krajicek,0.640000,0.618182,0.812500,0.970588,0.0,2.0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1
1999-02-22,1999-408,London,Carpet,32,A,19,6-3 6-4,3,R16,70.0,Nicolas Kiefer,Richard Krajicek,21.634497,27.214237,NaN,NaN,R,R,183.0,196.0,103017,101990,GER,NED,Nicolas Kiefer,Richard Krajicek,35.0,9.0,1073.0,2386.0,NaN,4.0,5.0,13.0,5.0,2.0,51.0,55.0,28.0,33.0,24.0,31.0,10.0,12.0,9.0,10.0,4.0,1.0,6.0,1.0,Richard Krajicek,0.549020,0.600000,0.857143,0.939394,0.0,2.0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002-12-30,2003-339,Adelaide,Hard,32,A,25,6-1 6-3,3,QF,57.0,Brian Vahaly,Richard Krajicek,23.449692,31.066393,NaN,NaN,R,R,183.0,196.0,103408,101990,USA,NED,Brian Vahaly,Richard Krajicek,102.0,112.0,386.0,350.0,NaN,NaN,0.0,12.0,2.0,3.0,48.0,53.0,36.0,25.0,20.0,23.0,5.0,12.0,8.0,8.0,2.0,1.0,6.0,1.0,Richard Krajicek,0.750000,0.471698,0.555556,0.920000,0.0,4.0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,1,1
2003-01-27,2003-408,Milan,Carpet,32,A,2,7-5 6-2,3,R32,74.0,Nikolay Davydenko,Richard Krajicek,21.653662,31.143053,NaN,WC,R,R,178.0,196.0,103786,101990,RUS,NED,Nikolay Davydenko,Richard Krajicek,61.0,85.0,638.0,465.0,NaN,NaN,2.0,13.0,2.0,3.0,69.0,60.0,45.0,37.0,28.0,31.0,12.0,13.0,10.0,10.0,5.0,4.0,8.0,4.0,Richard Krajicek,0.652174,0.616667,0.622222,0.837838,0.0,3.0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1
2003-01-27,2003-408,Milan,Carpet,32,A,17,3-6 6-3 7-6(13),3,R16,128.0,Radek Stepanek,Richard Krajicek,24.167009,31.143053,NaN,WC,R,R,185.0,196.0,103285,101990,CZE,NED,Radek Stepanek,Richard Krajicek,57.0,85.0,668.0,465.0,NaN,NaN,9.0,22.0,2.0,6.0,88.0,105.0,63.0,57.0,52.0,50.0,13.0,26.0,15.0,15.0,0.0,6.0,2.0,8.0,Richard Krajicek,0.715909,0.542857,0.825397,0.877193,2.0,2.0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,1,1
2003-05-19,2003-306,St. Poelten,Clay,32,A,4,7-5 3-6 6-3,3,R32,118.0,Jan Michael Gambill,Richard Krajicek,25.957563,31.449692,NaN,WC,R,R,190.0,196.0,102998,101990,USA,NED,Jan Michael Gambill,Richard Krajicek,38.0,77.0,880.0,540.0,5.0,NaN,9.0,13.0,3.0,2.0,93.0,86.0,52.0,45.0,37.0,35.0,19.0,20.0,15.0,15.0,4.0,4.0,8.0,7.0,Richard Krajicek,0.559140,0.523256,0.711538,0.777778,3.0,4.0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1
2003-05-19,2003-306,St. Poelten,Clay,32,A,18,6-2 2-6 6-3,3,R16,102.0,Brian Vahaly,Richard Krajicek,23.832991,31.449692,NaN,WC,R,R,183.0,196.0,103408,101990,USA,NED,Brian Vahaly,Richard Krajicek,75.0,77.0,557.0,540.0,NaN,NaN,0.0,6.0,1.0,4.0,79.0,87.0,62.0,43.0,38.0,31.0,9.0,21.0,12.0,13.0,4.0,7.0,8.0,10.0,Richard Krajicek,0.784810,0.494253,0.612903,0.720930,3.0,4.0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,1,1

In [57]:
df.dtypes

tourney_id          object
tourney_name        object
surface             object
draw_size            int64
tourney_level       object
                     ...
round_RR             uint8
round_SF             uint8
player_1_counter     int64
player_2_counter     int64
player_2_wins        int64
Length: 81, dtype: object

In [58]:
### BULK FUNCTION TO BUILD OUT PLAYER DATABASE ### -

PlayerColumns = ['PlayerID', 'Player_Name', 'Age', 'Height', 'MaxRank', 'Hand', 'Country', 'Matches', 'Aces', 'Double_Faults', 'First_Serve_%', 'First_Serve_Win_%', 'Breakpoints_Won']

PlayerData = pd.DataFrame(columns = PlayerColumns)
PlayerData.set_index('PlayerID')

#Creating data for the PlayerData dataframe
for index, row in df.iterrows():
    #player was id as player_1
    p1_id = int(row.player_1_id)
    
    #checking
    if (p1_id not in PlayerData.index):
        PlayerData.loc[p1_id] = [p1_id, row.player_1_name, row.player_1_age, row.player_1_ht, row.player_1_rank, row.player_1_hand, row.player_1_ioc, row.player_1_counter, row.player_1_aces, row.player_1_double_faults, row.player_1_first_serve_percent, row.player_1_first_serve_win_percent, row.player_1_break_points_won]

    #Updating best rank
    #Update rank with best rank value
    if(row.player_1_rank < PlayerData.loc[p1_id].MaxRank and not np.isnan(PlayerData.loc[p1_id].MaxRank)):
        PlayerData.loc[p1_id] = [p1_id, row.player_1_name, row.player_1_age, row.player_1_ht, row.player_1_rank, row.player_1_hand, row.player_1_ioc, row.player_1_counter ,row.player_1_aces, row.player_1_double_faults, row.player_1_first_serve_percent, row.player_1_first_serve_win_percent, row.player_1_break_points_won]
        
    else:
        PlayerData.loc[p1_id] = [p1_id, row.player_1_name, row.player_1_age, row.player_1_ht, row.player_1_rank, row.player_1_hand, row.player_1_ioc, row.player_1_counter, row.player_1_aces, row.player_1_double_faults, row.player_1_first_serve_percent, row.player_1_first_serve_win_percent, row.player_1_break_points_won]
        
        
    #same code but for player2 (as they were set randomly)
    p2_id = int(row.player_2_id)
    
    #checking
    if (p2_id not in PlayerData.index):
        PlayerData.loc[p2_id] = [p2_id, row.player_2_name, row.player_2_age, row.player_2_ht, row.player_2_rank, row.player_2_hand, row.player_2_ioc, row.player_2_counter, row.player_2_aces, row.player_2_double_faults, row.player_2_first_serve_percent, row.player_2_first_serve_win_percent, row.player_2_break_points_won]

    #Updating best rank
    #Update rank with best rank value
    if(row.player_2_rank < PlayerData.loc[p2_id].MaxRank and not np.isnan(PlayerData.loc[p2_id].MaxRank)):
        PlayerData.loc[p2_id] = [p2_id, row.player_2_name, row.player_2_age, row.player_2_ht, row.player_2_rank, row.player_2_hand, row.player_2_ioc, row.player_2_counter, row.player_2_aces, row.player_2_double_faults, row.player_2_first_serve_percent, row.player_2_first_serve_win_percent, row.player_2_break_points_won]
        
    else:
        PlayerData.loc[p2_id] = [p2_id, row.player_2_name, row.player_2_age, row.player_2_ht, row.player_2_rank, row.player_2_hand, row.player_2_ioc, row.player_2_counter, row.player_2_aces, row.player_2_double_faults, row.player_2_first_serve_percent, row.player_2_first_serve_win_percent, row.player_2_break_points_won]

In [59]:
PlayerData

,PlayerID,Player_Name,Age,Height,MaxRank,Hand,Country,Matches,Aces,Double_Faults,First_Serve_%,First_Serve_Win_%,Breakpoints_Won
103720,103720,Lleyton Hewitt,34.896646,180.0,308.0,R,AUS,1,10.0,3.0,0.591837,0.758621,5.0
102158,102158,Patrick Rafter,28.873374,185.0,5.0,R,AUS,1,5.0,7.0,0.560606,0.540541,2.0
210013,210013,Martin Damm Sr,29.453799,188.0,396.0,R,CZE,1,16.0,5.0,0.580153,0.736842,3.0
103017,103017,Nicolas Kiefer,32.826831,183.0,148.0,R,GER,1,3.0,4.0,0.553571,0.677419,0.0
101733,101733,Jan Siemerink,32.251882,183.0,254.0,L,NED,1,7.0,5.0,0.468750,0.733333,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144984,144984,Artem Dubrivnyy,20.700890,NaN,424.0,R,RUS,1,2.0,1.0,0.632353,0.465116,2.0
200553,200553,Alen Avidzba,19.635866,NaN,498.0,R,RUS,1,1.0,4.0,0.492537,0.606061,2.0
208230,208230,Alibek Kachmazov,17.158111,NaN,1491.0,R,RUS,1,4.0,6.0,0.518072,0.534884,2.0
127339,127339,Borna Gojo,21.722108,NaN,280.0,R,CRO,1,5.0,2.0,0.638889,0.630435,0.0
122298,122298,Botic Van De Zandschulp,24.123203,NaN,200.0,R,NED,1,5.0,3.0,0.577778,0.692308,0.0

In [60]:
# A lot of work needed

PlayerData[PlayerData.Player_Name == 'Richard Krajicek']

,PlayerID,Player_Name,Age,Height,MaxRank,Hand,Country,Matches,Aces,Double_Faults,First_Serve_%,First_Serve_Win_%,Breakpoints_Won
101990,101990,Richard Krajicek,31.449692,196.0,77.0,R,NED,1,2.0,3.0,0.571429,0.638889,1.0

In [28]:
PlayerData.dtypes

PlayerID              object
Player_Name           object
Age                  float64
Height               float64
MaxRank              float64
Hand                  object
Country               object
Matches               object
Aces                 float64
Double_Faults        float64
First_Serve_%        float64
First_Serve_Win_%    float64
Breakpoints_Won      float64
dtype: object

In [ ]:
##### PRIMARY DATABASE WILL CLEAN UP ####

In [ ]:
def

In [ ]:
def continued_player_stats(playerCount, matchRows):
    
    for p1_indx, player in PlayerData.head(playerCount).iterrows():
        
        #matches and win tally
        Matches = 0
        Wins = 0
        
        #keep track of wins of top 20 opponents
        top20matches = 0
        top20wins = 0
        
        #keep track of wins of top 100 opponents
        top100matches=0
        top100wins=0
        
    for index, row in df.head(matchRows).iterrows():
        
        if (p_index == player_1_id or player_2_id):

In [37]:
df.head(1)

,tourney_id,tourney_name,surface,draw_size,tourney_level,match_num,score,best_of,round,minutes,player_1,player_2,player_1_age,player_2_age,player_1_entry,player_2_entry,player_1_hand,player_2_hand,player_1_ht,player_2_ht,player_1_id,player_2_id,player_1_ioc,player_2_ioc,player_1_name,player_2_name,player_1_rank,player_2_rank,player_1_rank_points,player_2_rank_points,player_1_seed,player_2_seed,player_1_aces,player_2_aces,player_1_double_faults,player_2_double_faults,player_1_service_points,player_2_service_points,player_1_first_serves_in,player_2_first_serves_in,player_1_first_serve_points_won,player_2_first_serve_points_won,player_1_second_serve_points_won,player_2_second_serve_points_won,player_1_service_game_total,player_2_service_game_total,player_1_break_points_saved,player_2_break_points_saved,player_1_break_points_faced,player_2_break_points_faced,winner,player_1_first_serve_percent,player_2_first_serve_percent,player_1_first_serve_win_percent,player_2_first_serve_win_percent,player_1_break_points_won,player_2_break_points_won,player_1_wins,surface_Clay,surface_Grass,surface_Hard,tourney_level_D,tourney_level_F,tourney_level_G,tourney_level_M,player_1_hand_R,player_1_hand_U,player_2_hand_R,player_2_hand_U,round_ER,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF,player_2_wins,player_1_counter,player_2_counter
tourney_date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1999-01-11,1999-338,Sydney,Hard,32,A,16,7-6(1) 6-1,3,R32,84.0,Lleyton Hewitt,Patrick Rafter,17.878166,26.036961,NaN,NaN,R,R,180.0,185.0,103720,102158,AUS,AUS,Lleyton Hewitt,Patrick Rafter,104.0,4.0,456.0,3315.0,NaN,2.0,2.0,0.0,0.0,5.0,73.0,59.0,51.0,36.0,32.0,24.0,14.0,8.0,10.0,9.0,4.0,3.0,6.0,7.0,Lleyton Hewitt,0.69863,0.610169,0.627451,0.666667,4.0,2.0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1,1

In [48]:
import re
def total_games(s):
    num_list = re.findall('\d+', s)
    num_list = [int(x) for x in num_list]
    return sum(num_list)

df['total_games'] = df['score'].apply(total_games)
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,match_num,score,best_of,round,minutes,player_1,player_2,player_1_age,player_2_age,player_1_entry,player_2_entry,player_1_hand,player_2_hand,player_1_ht,player_2_ht,player_1_id,player_2_id,player_1_ioc,player_2_ioc,player_1_name,player_2_name,player_1_rank,player_2_rank,player_1_rank_points,player_2_rank_points,player_1_seed,player_2_seed,player_1_aces,player_2_aces,player_1_double_faults,player_2_double_faults,player_1_service_points,player_2_service_points,player_1_first_serves_in,player_2_first_serves_in,player_1_first_serve_points_won,player_2_first_serve_points_won,player_1_second_serve_points_won,player_2_second_serve_points_won,player_1_service_game_total,player_2_service_game_total,player_1_break_points_saved,player_2_break_points_saved,player_1_break_points_faced,player_2_break_points_faced,winner,player_1_first_serve_percent,player_2_first_serve_percent,player_1_first_serve_win_percent,player_2_first_serve_win_percent,player_1_break_points_won,player_2_break_points_won,player_1_wins,surface_Clay,surface_Grass,surface_Hard,tourney_level_D,tourney_level_F,tourney_level_G,tourney_level_M,player_1_hand_R,player_1_hand_U,player_2_hand_R,player_2_hand_U,round_ER,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF,player_2_wins,player_1_counter,player_2_counter,total_games
tourney_date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1999-01-11,1999-338,Sydney,Hard,32,A,16,7-6(1) 6-1,3,R32,84.0,Lleyton Hewitt,Patrick Rafter,17.878166,26.036961,NaN,NaN,R,R,180.0,185.0,103720,102158,AUS,AUS,Lleyton Hewitt,Patrick Rafter,104.0,4.0,456.0,3315.0,NaN,2.0,2.0,0.0,0.0,5.0,73.0,59.0,51.0,36.0,32.0,24.0,14.0,8.0,10.0,9.0,4.0,3.0,6.0,7.0,Lleyton Hewitt,0.698630,0.610169,0.627451,0.666667,4.0,2.0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1,1,21
1999-01-11,1999-338,Sydney,Hard,32,A,15,5-7 6-3 6-2,3,R32,115.0,Martin Damm Sr,Nicolas Kiefer,26.444901,21.519507,Q,NaN,R,R,188.0,183.0,210013,103017,CZE,GER,Martin Damm Sr,Nicolas Kiefer,75.0,36.0,657.0,1007.0,NaN,NaN,8.0,6.0,2.0,4.0,84.0,86.0,52.0,38.0,40.0,31.0,11.0,32.0,14.0,15.0,3.0,2.0,6.0,3.0,Nicolas Kiefer,0.619048,0.441860,0.769231,0.815789,1.0,3.0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1,29
1999-01-11,1999-338,Sydney,Hard,32,A,14,6-2 6-4,3,R32,61.0,Jan Siemerink,Mariano Puerta,28.744695,20.312115,NaN,NaN,L,L,183.0,180.0,101733,103264,NED,ARG,Jan Siemerink,Mariano Puerta,19.0,38.0,1664.0,983.0,NaN,NaN,1.0,1.0,7.0,1.0,51.0,46.0,24.0,31.0,15.0,25.0,14.0,11.0,9.0,9.0,3.0,0.0,6.0,0.0,Mariano Puerta,0.470588,0.673913,0.625000,0.806452,0.0,3.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1,18
1999-01-11,1999-338,Sydney,Hard,32,A,13,6-1 6-3,3,R32,43.0,Hicham Arazi,Todd Martin,25.229295,28.511978,NaN,NaN,L,R,175.0,198.0,102271,101774,MAR,USA,Hicham Arazi,Todd Martin,34.0,16.0,1069.0,1774.0,NaN,8.0,2.0,10.0,3.0,0.0,47.0,36.0,27.0,27.0,16.0,25.0,6.0,7.0,8.0,8.0,1.0,0.0,5.0,0.0,Todd Martin,0.574468,0.750000,0.592593,0.925926,0.0,4.0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1,16
1999-01-11,1999-338,Sydney,Hard,32,A,12,6-3 7-6(4),3,R32,85.0,Carlos Moya,Thomas Johansson,22.373717,23.802875,NaN,NaN,R,R,190.0,180.0,102845,102563,ESP,SWE,Carlos Moya,Thomas Johansson,5.0,17.0,3159.0,1761.0,3.0,NaN,7.0,8.0,1.0,2.0,79.0,58.0,37.0,26.0,28.0,19.0,22.0,17.0,11.0,10.0,5.0,2.0,7.0,5.0,Carlos Moya,0.468354,0.448276,0.756757,0.730769,3.0,2.0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1,1,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999-05-10,1999-416,Rome Masters,Clay,64,M,62,6-3 7-5,3,SF,83.0,Felix Mantilla,Patrick Rafter,24.626968,26.362765,NaN,NaN,R,R,180.0,185.0,102456,102158,ESP,AUS,Felix Mantilla,Patrick Rafter,15.0,4.0,1888.0,2978.0,15.0,4.0,3.0,4.0,0.0,1.0,60.0,63.0,41.0,45.0,28.0,34.0,9.0,10.0,10.0,11.0,3.0,0.0,6.0,1.0,Patrick Rafter,0.683333,0.714286,0.682927,0.755556,1.0,3.0,0,1,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,1,1,1,21
1999-05-10,1999-416,Rome Masters,Clay,64,M,57,3-6 6-4 7-5,3,QF,139.0,Gustavo Kuerten,Karol Kucera,22.661191,25.182752,NaN,NaN,R,R,190.0,188.0,102856,102344,BRA,SVK,Gustavo Kuerten,Karol Kucera,14.0,12.0,2033.0,2094.0,16.0,10.0,1.0,1.0,2.0,2.0,99.0,104.0,53.0,69.0,33.0,40.0,24.0,19.0,15.0,16.0,11.0,7.0,16.0,13.0,Gustavo Kuerten,0.535354,0.663462,0.622642,0.579710,6.0,5.0,1,1,0,0,0,0,0,1,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,1,31
1999-05-10,1999-416,Rome Masters,Clay,64,M,58,5-7 7-6(4) 7-5,3,QF,178.0,Alex Corretja,Franco Squillari,25.078713,23.715264,NaN,LL,R,L,180.0,183.0,102374,102644,ESP,ARG,Alex Corretja,Franco Squillari,7.0,47.0,2683.0,933.0,3.0,NaN,3.0,4.0,2.0,5.0,105.0,132.0,52.0,87.0,30.0,46.0,24.0,21.0,18.0,18.0,3.0,10.0,11.0,18.0,Alex Corretja,0.495238,0.659091,0.576923,0.528736,8.0,8.0,1,1,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,41
1999-05-10,1999-416,Rome Masters,Clay,64,M,59,4-6 7-5 6-1,3,QF,121.0,Nicolas Lapentti,Patrick Rafter,22.737851,26.362765,NaN,NaN,R,R,188.0,185.0,102839,102158,ECU,AUS,Nicolas Lapentti,Patrick Rafter,32.0,4.0,1134.0,2978.0,NaN,4.0,1.0,5.0,2.0,7.0,75.0,96.0,52.0,62.0,29.0,49.0,15.0,16.0,14.0,15.0,3.0,8.0,7.0,10.0,Patrick Rafter,0.693333,0.645833,0.557692,0.790323,2.0,4.0,0,1,0,0,0,0,0,1,1,0,1,0,0,0,1,0,0,0,0,0,0,1,1,1,29
1999-05-10,1999-416,Rome Masters,Clay,64,M,60,6-2 6-4,3,QF,67.0,David Prinosil,Felix Mantilla,26.168378,24.626968,Q,NaN,R,R,185.0,180.0,102184,102456,GER,ESP,David Prinosil,Felix Mantilla,80.0,15.0,622.0,1888.0,NaN,15.0,6.0,3.0,0.0,2.0,51.0,51.0,31.0,29.0,23.0,25.0,9.0,14.0,9.0,9.0,2.0,3.0,5.0,3.0,Felix Mantilla,0.607843,0.568627,0.741935,0.862069,0.0,3.0,0,1,0,0,0,0,0,1,1,0,1,0,0,0,1,0,0,0,0,0,0,1,1,1,18

In [ ]:
import glob
import pandas as pd

fds = []
for f in glob.glob("../atp_matches/atp_matches*.csv"):
    fds.append(pd.read_csv(f))

frame = pd.concat(fds)
df1 = frame
df1.head(1)

In [ ]:
df1.head(1)

In [ ]:
#First Serve win percentage added new column
df['w_first_serve'] = df['w_1stIn'] / df['w_svpt']
df['l_first_serve'] = df['l_1stIn'] / df['l_svpt']

#First Serve Win
df['w_first_serve_win'] = df['w_1stWon'] / df['w_1stIn']
df['l_first_serve_win'] = df['l_1stWon'] / df['l_1stIn']

In [ ]:
df.head(1)

In [ ]:
# #imputing extra values
# df['w_first_serve_%'] = df['w_first_serves_in'] / df['w_service_points']
# df['l_first_serve_%'] = df['l_first_serves_in'] / df['l_service_points']


# df['w_first_serve_win_%'] = df['w_first_serve_points_won'] / df['w_first_serves_in']
# df['l_first_serve_win_%'] = df['l_first_serve_points_won'] / df['l_first_serves_in']

# df['w_break_points_won'] = df['l_break_points_faced']- df['l_break_points_saved']
# df['l_break_points_won'] = df['w_break_points_faced']- df['w_break_points_saved']

In [ ]:
PlayerData

In [ ]:
df = pd.read_csv('ATPMain.csv')
df.head(1)

In [ ]:
df = prepare.prepare_atp()
df.shape

In [ ]:
df.head(1)

In [ ]:
df.dtypes

In [ ]:
df_test = df.head(1000)
columns_to_rename = {'player_1_first_serve_%' : 'player_1_first_serve_percent',
                    'player_2_first_serve_%' : 'player_2_first_serve_percent',
                    'player_1_first_serve_win_%': 'player_1_first_serve_win_percent',
                     'player_2_first_serve_win_%': 'player_2_first_serve_win_percent'
                    
                    }

# df = df.rename(columns = columns_to_rename)
df_test = df_test.rename(columns = columns_to_rename)

In [ ]:
df_test.dtypes

In [ ]:
PlayerData