In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import json
import os
import glob
import codecs
import csv
import prepare

In [2]:
#display all columns 
pd.set_option("display.max_columns", None)

In [3]:
#pulling in main csv
df = pd.read_csv('ATPTotal.csv')
df.head(1)

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,loser_id,loser_seed,loser_entry,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,score,best_of,round,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,0,2019-M020,Brisbane,Hard,32,A,20181231,300,105453,2.0,NaN,Kei Nishikori,R,178.0,JPN,29.004791,106421,4.0,NaN,Daniil Medvedev,R,198.0,RUS,22.885695,6-4 3-6 6-2,3,F,124.0,3.0,3.0,77.0,44.0,31.0,17.0,13.0,3.0,6.0,8.0,6.0,100.0,54.0,34.0,20.0,14.0,10.0,15.0,9.0,3590.0,16.0,1977.0

In [4]:
df = df.set_index('tourney_date')
# convert index to datetime object and sort in ascending order
df.index = pd.to_datetime(df.index, format = '%Y%m%d')
df = df.sort_index(ascending = True)
df = df['1999-01-01':'2020-01-01']
# drop all walkovers (no useful stats) and best of 1 matches (extremely rare format)
df = df.drop(df[df.score == 'W/O'].index)
df = df.drop(df[df.best_of == 1].index)

In [5]:
df.head(1)

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,loser_id,loser_seed,loser_entry,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,score,best_of,round,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
tourney_date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1999-01-11,108,1999-338,Sydney,Hard,32,A,16,103720,NaN,NaN,Lleyton Hewitt,R,180.0,AUS,17.878166,102158,2.0,NaN,Patrick Rafter,R,185.0,AUS,26.036961,7-6(1) 6-1,3,R32,84.0,2.0,0.0,73.0,51.0,32.0,14.0,10.0,4.0,6.0,0.0,5.0,59.0,36.0,24.0,8.0,9.0,3.0,7.0,104.0,456.0,4.0,3315.0

In [6]:
#pulling 
#Create dataframe for Player Data and label columns
PlayerColumns = ['PlayerID', 'Player_Name', 'Age', 'Height', 'MaxRank', 'Hand', 'Country']

PlayerData = pd.DataFrame(columns = PlayerColumns)
PlayerData.set_index('PlayerID')


#Add data to the PlayerData dataframe
for index, row in df.iterrows():
    #player was the winner
    p_id = int(row.winner_id)
    
    #Check value
    if(p_id not in PlayerData.index):
        PlayerData.loc[p_id] = [p_id, row.winner_name, row.winner_age, row.winner_ht, row.winner_rank, row.winner_hand, row.winner_ioc]

    #Update rank with best rank value
    if(row.winner_rank < PlayerData.loc[p_id].MaxRank and not np.isnan(PlayerData.loc[p_id].MaxRank)):
        PlayerData.loc[p_id] = [p_id, row.winner_name, row.winner_age, row.winner_ht, row.winner_rank, row.winner_hand, row.winner_ioc]

    #Player was loser
    p2_id = int(row.loser_id)
    #Check for loser
    if(p2_id not in PlayerData.index):
        PlayerData.loc[p2_id] = [p2_id, row.loser_name, row.loser_age, row.loser_ht, row.loser_rank, row.loser_hand, row.loser_ioc]

    #Update rank with best rank value
    if(row.loser_rank < PlayerData.loc[p2_id].MaxRank and not np.isnan(PlayerData.loc[p2_id].MaxRank)):
        PlayerData.loc[p2_id] = [p2_id, row.loser_name, row.loser_age, row.loser_ht, row.loser_rank, row.loser_hand, row.loser_ioc]

In [7]:
#looking at main player details
PlayerData

,PlayerID,Player_Name,Age,Height,MaxRank,Hand,Country
103720,103720,Lleyton Hewitt,20.752909,180.0,1.0,R,AUS
102158,102158,Patrick Rafter,26.477755,185.0,2.0,R,AUS
103017,103017,Nicolas Kiefer,22.535250,183.0,4.0,R,GER
210013,210013,Martin Damm Sr,28.227242,188.0,67.0,R,CZE
103264,103264,Mariano Puerta,26.904860,180.0,9.0,L,ARG
...,...,...,...,...,...,...,...
144984,144984,Artem Dubrivnyy,20.700890,NaN,424.0,R,RUS
200553,200553,Alen Avidzba,19.635866,NaN,498.0,R,RUS
208230,208230,Alibek Kachmazov,17.158111,NaN,1491.0,R,RUS
127339,127339,Borna Gojo,21.722108,NaN,280.0,R,CRO
122298,122298,Botic Van De Zandschulp,24.123203,NaN,200.0,R,NED

In [8]:
# Win Count DF
win_count = df.groupby('winner_id')[['winner_name']].agg('count').sort_values(by='winner_id').astype(int).reset_index()
win_count = win_count.rename(columns={'winner_name': 'win_count', 'winner_id' : 'PlayerID'})
win_count

      PlayerID  win_count
0       100644        149
1       100754          3
2       100943          1
3       101086          8
4       101150         39
...        ...        ...
1444    208028          1
1445    208029          2
1446    208055          1
1447    209188          1
1448    210013         19

[1449 rows x 2 columns]

In [9]:
# Loss Count DF
loss_count = df.groupby('loser_id')[['loser_name']].agg('count').sort_values(by='loser_id').astype(int).reset_index()
loss_count = loss_count.rename(columns={'loser_name': 'lose_count', 'loser_id' : 'PlayerID'})
loss_count

      PlayerID  lose_count
0       100644          71
1       100754           4
2       100943           2
3       100997           2
4       101086          19
...        ...         ...
2133    208597           1
2134    208937           1
2135    209226           1
2136    209238           1
2137    210013          32

[2138 rows x 2 columns]

In [10]:
### merge win_loss counts

from functools import reduce

data_frames = [win_count, loss_count]

win_loss = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='left'), data_frames)

win_loss = win_loss.dropna()
win_loss['match_count'] = win_loss['win_count'] + win_loss['lose_count']
win_loss['win%'] = round((win_loss['win_count'] / win_loss['match_count']),2)

win_loss

      PlayerID  win_count  lose_count  match_count  win%
0       100644        149        71.0        220.0  0.68
1       100754          3         4.0          7.0  0.43
2       100943          1         2.0          3.0  0.33
3       101086          8        19.0         27.0  0.30
4       101150         39        55.0         94.0  0.41
...        ...        ...         ...          ...   ...
1440    206173          9         5.0         14.0  0.64
1441    207139          2         2.0          4.0  0.50
1445    208029          2         1.0          3.0  0.67
1446    208055          1         1.0          2.0  0.50
1448    210013         19        32.0         51.0  0.37

[1352 rows x 5 columns]

In [11]:
#First Serve win percentage added new column
df['w_first_serve'] = df['w_1stIn'] / df['w_svpt']
df['l_first_serve'] = df['l_1stIn'] / df['l_svpt']

#First Serve Win
df['w_first_serve_win'] = df['w_1stWon'] / df['w_1stIn']
df['l_first_serve_win'] = df['l_1stWon'] / df['l_1stIn']

In [12]:


loser_first_serve_percent = df.groupby('loser_id')[['l_first_serve']].mean().reset_index()
loser_first_serve_percent = loser_first_serve_percent.rename(columns={'loser_first_serve_percent': 'l_first_serve', 'loser_id' : 'PlayerID'})

winner_first_serve_percent = df.groupby('winner_id')[['w_first_serve']].mean().reset_index()
winner_first_serve_percent = winner_first_serve_percent.rename(columns={'winner_first_serve_percent': 'w_first_serve', 'winner_id' : 'PlayerID'})



loser_first_serve_win_percent = df.groupby('loser_id')[['l_first_serve_win']].mean().reset_index()
loser_first_serve_win_percent = loser_first_serve_win_percent.rename(columns={'loser_first_serve_win_percent': 'l_first_serve_win', 'loser_id' : 'PlayerID'})

winner_first_serve_win_percent = df.groupby('winner_id')[['w_first_serve_win']].mean().reset_index()
winner_first_serve_win_percent = winner_first_serve_win_percent.rename(columns={'winner_first_serve_win_percent': 'w_first_serve_win', 'winner_id' : 'PlayerID'})

### merge serve stats

from functools import reduce

data_frames = [loser_first_serve_percent, winner_first_serve_percent, loser_first_serve_win_percent, winner_first_serve_win_percent]

serve_pts = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='left'), data_frames)
serve_pts

,PlayerID,l_first_serve,w_first_serve,l_first_serve_win,w_first_serve_win
0,100644,0.617291,0.645815,0.654301,0.778817
1,100754,NaN,NaN,NaN,NaN
2,100943,NaN,NaN,NaN,NaN
3,100997,NaN,NaN,NaN,NaN
4,101086,0.644105,0.676382,0.591278,0.702205
...,...,...,...,...,...
2133,208597,NaN,NaN,NaN,NaN
2134,208937,NaN,NaN,NaN,NaN
2135,209226,NaN,NaN,NaN,NaN
2136,209238,NaN,NaN,NaN,NaN
2137,210013,0.546553,0.611743,0.693080,0.806999

In [13]:
# from functools import reduce

# data_frames = [PlayerData, win_loss, serve_pts]

# PD_merge = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
#                                             how='left'), data_frames)
# PD_merge

In [14]:
### Breakpoints
#df.head(1)
df['w_break_points_won'] = df['l_bpFaced']- df['l_bpSaved']
df['l_break_points_won'] = df['w_bpFaced']- df['w_bpSaved']

loser_breakpoints_won = df.groupby('loser_id')[['l_break_points_won']].agg('count').reset_index()
loser_breakpoints_won = loser_breakpoints_won.rename(columns={'loser_id' : 'PlayerID'})

winner_breakpoints_won = df.groupby('winner_id')[['w_break_points_won']].agg('count').reset_index()
winner_breakpoints_won = winner_breakpoints_won.rename(columns={'winner_id' : 'PlayerID'})



data_frames = [loser_breakpoints_won, winner_breakpoints_won]

breakpoints = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='left'), data_frames)
breakpoints['breakpoint_count'] = breakpoints['l_break_points_won'] + breakpoints['w_break_points_won']
breakpoints

data_frames = [breakpoints, win_loss]
breakpoints = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='left'), data_frames)
breakpoints['breakpoints_per_game'] = breakpoints['breakpoint_count'] / breakpoints['match_count']
columns_drop =['win_count', 'lose_count', 'match_count', 'win%']
breakpoints = breakpoints.drop(columns_drop, 1)
breakpoints

<ipython-input-14-07da347c4be1>:26: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  breakpoints = breakpoints.drop(columns_drop, 1)

,PlayerID,l_break_points_won,w_break_points_won,breakpoint_count,breakpoints_per_game
0,100644,71,149.0,220.0,1.000000
1,100754,0,0.0,0.0,0.000000
2,100943,0,0.0,0.0,0.000000
3,100997,0,NaN,NaN,NaN
4,101086,19,8.0,27.0,1.000000
...,...,...,...,...,...
2133,208597,0,NaN,NaN,NaN
2134,208937,0,NaN,NaN,NaN
2135,209226,0,NaN,NaN,NaN
2136,209238,0,NaN,NaN,NaN
2137,210013,31,19.0,50.0,0.980392

In [15]:
### ACES
loss_aces = df.groupby('loser_id')[['l_ace']].agg('count').reset_index()
loss_aces = loss_aces.rename(columns={'loser_id' : 'PlayerID', 'lose_count': 'ace_count_lost'})

win_aces = df.groupby('winner_id')[['w_ace']].agg('count').reset_index()
win_aces = win_aces.rename(columns={'winner_id' : 'PlayerID', 'win_count':'ace_count_win'})

data_frames = [loss_aces, win_aces]

aces = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='left'), data_frames)
aces['ace_count'] = aces['l_ace'] + aces['w_ace']

data_frames = [aces, win_loss]
aces = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='left'), data_frames)
aces['aces_per_game'] = round((aces['ace_count'] / aces['match_count']),3)
columns_drop =['win_count', 'lose_count', 'match_count', 'win%']
aces = aces.drop(columns_drop, 1)
aces

<ipython-input-15-ce9849fa152a>:19: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  aces = aces.drop(columns_drop, 1)

      PlayerID  l_ace  w_ace  ace_count  aces_per_game
0       100644     71  149.0      220.0           1.00
1       100754      0    0.0        0.0           0.00
2       100943      0    0.0        0.0           0.00
3       100997      0    NaN        NaN            NaN
4       101086     19    8.0       27.0           1.00
...        ...    ...    ...        ...            ...
2133    208597      0    NaN        NaN            NaN
2134    208937      0    NaN        NaN            NaN
2135    209226      0    NaN        NaN            NaN
2136    209238      0    NaN        NaN            NaN
2137    210013     31   19.0       50.0           0.98

[2138 rows x 5 columns]

In [16]:
#### Count Matches WON & LOSS with opponent being in the top 30 ###
#9744 rows of loser is in top 30

match_30 = df[df.loser_rank <=30]
match_30

win_30 = match_30.groupby('winner_id')[['winner_name']].agg('count').sort_values(by='winner_id').astype(int).reset_index()
win_30 = win_30.rename(columns={'winner_name': 'win_count_30', 'winner_id' : 'PlayerID'})

matchl_30 = df[df.winner_rank <=30]
loss_30 = matchl_30.groupby('loser_id')[['loser_name']].agg('count').sort_values(by='loser_id').astype(int).reset_index()
loss_30 = loss_30.rename(columns={'loser_name': 'loss_count_30', 'loser_id' : 'PlayerID'})

#9744 rows of loser is in top 30
#df[df.loser_rank <=30]

In [17]:
#### Count Matches WON & LOSS with opponent being in the top 100 ###
#32632 rows of loser is in top 100

match_100 = df[df.loser_rank <=100]
match_100

win_100 = match_100.groupby('winner_id')[['winner_name']].agg('count').sort_values(by='winner_id').astype(int).reset_index()
win_100 = win_100.rename(columns={'winner_name': 'win_count_100', 'winner_id' : 'PlayerID'})

matchl_100 = df[df.winner_rank <=100]
loss_100 = matchl_100.groupby('loser_id')[['loser_name']].agg('count').sort_values(by='loser_id').astype(int).reset_index()
loss_100 = loss_100.rename(columns={'loser_name': 'loss_count_100', 'loser_id' : 'PlayerID'})


### we now have win_100 and loss_100

In [18]:
from functools import reduce

data_frames = [win_30, loss_30, win_100, loss_100]

top_matches = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='left'), data_frames)

## nulls will change to zero as player did not lose to either top 30 or top 100
## loss_counts 30 = 14 & loss_counts 100 = 2
top_matches = top_matches.fillna(0)

top_matches['total_top30_matches'] = top_matches['win_count_30'] + top_matches['loss_count_30']
top_matches['total_top100_matches'] = top_matches['win_count_100'] + top_matches['loss_count_100']

top_matches['top_30_win%'] = top_matches['win_count_30'] / top_matches['total_top30_matches']
top_matches['top_100_win%'] = top_matches['win_count_100'] / top_matches['total_top100_matches']


top_matches

,PlayerID,win_count_30,loss_count_30,win_count_100,loss_count_100,total_top30_matches,total_top100_matches,top_30_win%,top_100_win%
0,100644,48,46.0,120,67.0,94.0,187.0,0.510638,0.641711
1,101150,3,18.0,18,44.0,21.0,62.0,0.142857,0.290323
2,101185,4,4.0,6,16.0,8.0,22.0,0.500000,0.272727
3,101235,1,7.0,5,11.0,8.0,16.0,0.125000,0.312500
4,101320,4,12.0,31,36.0,16.0,67.0,0.250000,0.462687
...,...,...,...,...,...,...,...,...,...
523,200282,6,12.0,37,22.0,18.0,59.0,0.333333,0.627119
524,200325,1,0.0,1,2.0,1.0,3.0,1.000000,0.333333
525,200615,1,2.0,6,11.0,3.0,17.0,0.333333,0.352941
526,206173,2,1.0,7,5.0,3.0,12.0,0.666667,0.583333
527,210013,4,9.0,11,25.0,13.0,36.0,0.307692,0.305556

In [19]:
df.head(1)

,Unnamed: 0,tourney_id,tourney_name,surface,draw_size,tourney_level,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,loser_id,loser_seed,loser_entry,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,score,best_of,round,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,w_first_serve,l_first_serve,w_first_serve_win,l_first_serve_win,w_break_points_won,l_break_points_won
tourney_date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1999-01-11,108,1999-338,Sydney,Hard,32,A,16,103720,NaN,NaN,Lleyton Hewitt,R,180.0,AUS,17.878166,102158,2.0,NaN,Patrick Rafter,R,185.0,AUS,26.036961,7-6(1) 6-1,3,R32,84.0,2.0,0.0,73.0,51.0,32.0,14.0,10.0,4.0,6.0,0.0,5.0,59.0,36.0,24.0,8.0,9.0,3.0,7.0,104.0,456.0,4.0,3315.0,0.69863,0.610169,0.627451,0.666667,4.0,2.0

In [20]:
df.surface.value_counts()

Hard      24917
Clay      16704
Grass      4927
Carpet     1755
Name: surface, dtype: int64

In [21]:
### creating databases for surface type
hard = df[df.surface == 'Hard']
clay = df[df.surface == 'Clay']
grass = df[df.surface == 'Grass']
carpet = df[df.surface == 'Carpet']

#Hard
hard_win = hard.groupby('winner_id')[['winner_name']].agg('count').sort_values(by='winner_id').astype(float).reset_index()
hard_win = hard_win.rename(columns={'winner_name': 'hard_surface_win', 'winner_id' : 'PlayerID'})
hard_loss = hard.groupby('loser_id')[['loser_name']].agg('count').sort_values(by='loser_id').astype(float).reset_index()
hard_loss = hard_loss.rename(columns={'loser_name': 'hard_surface_loss', 'loser_id' : 'PlayerID'})
data_frames = [hard_win, hard_loss]
hard_df = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='left'), data_frames)
#putting losses to 0 count
hard_df = hard_df.fillna(0)
hard_df['hard_surface_match_count'] = hard_df['hard_surface_win'] + hard_df['hard_surface_loss']
hard_df['hard_win%'] = hard_df['hard_surface_win'] / hard_df['hard_surface_match_count']

# #Clay
clay_win = clay.groupby('winner_id')[['winner_name']].agg('count').sort_values(by='winner_id').astype(float).reset_index()
clay_win = clay_win.rename(columns={'winner_name': 'clay_surface_win', 'winner_id' : 'PlayerID'})
clay_loss = clay.groupby('loser_id')[['loser_name']].agg('count').sort_values(by='loser_id').astype(float).reset_index()
clay_loss = clay_loss.rename(columns={'loser_name': 'clay_surface_loss', 'loser_id' : 'PlayerID'})
data_frames = [clay_win, clay_loss]
clay_df = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='left'), data_frames)
#putting losses to 0 count
clay_df = clay_df.fillna(0)
clay_df['clay_surface_match_count'] = clay_df['clay_surface_win'] + clay_df['clay_surface_loss']
clay_df['clay_win%'] = clay_df['clay_surface_win'] / clay_df['clay_surface_match_count']


#Grass
grass_win = grass.groupby('winner_id')[['winner_name']].agg('count').sort_values(by='winner_id').astype(float).reset_index()
grass_win = grass_win.rename(columns={'winner_name': 'grass_surface_win', 'winner_id' : 'PlayerID'})
grass_loss = grass.groupby('loser_id')[['loser_name']].agg('count').sort_values(by='loser_id').astype(float).reset_index()
grass_loss = grass_loss.rename(columns={'loser_name': 'grass_surface_loss', 'loser_id' : 'PlayerID'})
data_frames = [grass_win, grass_loss]
grass_df = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='left'), data_frames)
#putting losses to 0 count
grass_df = grass_df.fillna(0)
grass_df['grass_surface_match_count'] = grass_df['grass_surface_win'] + grass_df['grass_surface_loss']
grass_df['grass_win%'] = grass_df['grass_surface_win'] / grass_df['grass_surface_match_count']

#Carpet
carpet_win = carpet.groupby('winner_id')[['winner_name']].agg('count').sort_values(by='winner_id').astype(float).reset_index()
carpet_win = carpet_win.rename(columns={'winner_name': 'carpet_surface_win', 'winner_id' : 'PlayerID'})
carpet_loss = carpet.groupby('loser_id')[['loser_name']].agg('count').sort_values(by='loser_id').astype(float).reset_index()
carpet_loss = carpet_loss.rename(columns={'loser_name': 'carpet_surface_loss', 'loser_id' : 'PlayerID'})
data_frames = [carpet_win, carpet_loss]
carpet_df = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='left'), data_frames)
#putting losses to 0 count
carpet_df = carpet_df.fillna(0)
carpet_df['carpet_surface_match_count'] = carpet_df['carpet_surface_win'] + carpet_df['carpet_surface_loss']
carpet_df['carpet_win%'] = carpet_df['carpet_surface_win'] / carpet_df['carpet_surface_match_count']

data_frames = [hard_df, clay_df, grass_df, carpet_df]
surface = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='left'), data_frames)

surface.isnull().sum()

PlayerID                        0
hard_surface_win                0
hard_surface_loss               0
hard_surface_match_count        0
hard_win%                       0
clay_surface_win              432
clay_surface_loss             432
clay_surface_match_count      432
clay_win%                     432
grass_surface_win             670
grass_surface_loss            670
grass_surface_match_count     670
grass_win%                    670
carpet_surface_win            828
carpet_surface_loss           828
carpet_surface_match_count    828
carpet_win%                   828
dtype: int64

In [22]:
print(f'hard_df shape: {hard_df.shape}')
print(f'clay_df shape: {clay_df.shape}')
print(f'grass_df shape: {grass_df.shape}')
print(f'carpet_df shape: {carpet_df.shape}')

hard_df shape: (1132, 5)
clay_df shape: (960, 5)
grass_df shape: (507, 5)
carpet_df shape: (352, 5)

In [23]:
data_frames = [hard_df, clay_df, grass_df, carpet_df]
surface = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='left'), data_frames)

### in each surface df nulls were only present for players that didn't lose a match on that surface type
### merging all surface dfs presents nulls because their are unequal representation of rows

#surface.isnull().sum()

surface= surface.fillna(0)

In [24]:
## COMBINING ALL DATAFRAMES TOGETHER

from functools import reduce

data_frames = [PlayerData, win_loss, aces, serve_pts, breakpoints, top_matches, surface]

PD_merge = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='left'), data_frames)

PD_merge_predict = PD_merge
PD_merge

,PlayerID,Player_Name,Age,Height,MaxRank,Hand,Country,win_count,lose_count,match_count,win%,l_ace,w_ace,ace_count,aces_per_game,l_first_serve,w_first_serve,l_first_serve_win,w_first_serve_win,l_break_points_won,w_break_points_won,breakpoint_count,breakpoints_per_game,win_count_30,loss_count_30,win_count_100,loss_count_100,total_top30_matches,total_top100_matches,top_30_win%,top_100_win%,hard_surface_win,hard_surface_loss,hard_surface_match_count,hard_win%,clay_surface_win,clay_surface_loss,clay_surface_match_count,clay_win%,grass_surface_win,grass_surface_loss,grass_surface_match_count,grass_win%,carpet_surface_win,carpet_surface_loss,carpet_surface_match_count,carpet_win%
0,103720,Lleyton Hewitt,20.752909,180.0,1.0,R,AUS,458.0,196.0,654.0,0.70,183.0,422.0,605.0,0.925,0.525558,0.539098,0.675974,0.773470,183.0,422.0,605.0,0.925076,134.0,110.0,351.0,184.0,244.0,535.0,0.549180,0.656075,265.0,118.0,383.0,0.691906,85.0,46.0,131.0,0.648855,93.0,27.0,120.0,0.775000,15.0,5.0,20.0,0.750000
1,102158,Patrick Rafter,26.477755,185.0,2.0,R,AUS,97.0,44.0,141.0,0.69,40.0,86.0,126.0,0.894,0.637279,0.653328,0.700358,0.795185,40.0,86.0,126.0,0.893617,35.0,25.0,75.0,38.0,60.0,113.0,0.583333,0.663717,47.0,25.0,72.0,0.652778,14.0,11.0,25.0,0.560000,31.0,6.0,37.0,0.837838,5.0,2.0,7.0,0.714286
2,103017,Nicolas Kiefer,22.535250,183.0,4.0,R,GER,217.0,162.0,379.0,0.57,150.0,205.0,355.0,0.937,0.514047,0.537990,0.689337,0.792370,150.0,205.0,355.0,0.936675,70.0,87.0,168.0,148.0,157.0,316.0,0.445860,0.531646,141.0,88.0,229.0,0.615721,37.0,44.0,81.0,0.456790,19.0,14.0,33.0,0.575758,20.0,16.0,36.0,0.555556
3,210013,Martin Damm Sr,28.227242,188.0,67.0,R,CZE,19.0,32.0,51.0,0.37,31.0,19.0,50.0,0.980,0.546553,0.611743,0.693080,0.806999,31.0,19.0,50.0,0.980392,4.0,9.0,11.0,25.0,13.0,36.0,0.307692,0.305556,9.0,16.0,25.0,0.360000,4.0,7.0,11.0,0.363636,6.0,7.0,13.0,0.461538,0.0,0.0,0.0,0.000000
4,103264,Mariano Puerta,26.904860,180.0,9.0,L,ARG,76.0,79.0,155.0,0.49,77.0,70.0,147.0,0.948,0.637432,0.680268,0.613399,0.746508,77.0,70.0,147.0,0.948387,11.0,33.0,55.0,71.0,44.0,126.0,0.250000,0.436508,14.0,21.0,35.0,0.400000,61.0,48.0,109.0,0.559633,0.0,0.0,0.0,0.000000,1.0,7.0,8.0,0.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2230,144984,Artem Dubrivnyy,20.700890,NaN,424.0,R,RUS,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.632353,NaN,0.465116,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2231,200553,Alen Avidzba,19.635866,NaN,498.0,R,RUS,1.0,1.0,2.0,0.50,1.0,1.0,2.0,1.000,0.492537,0.625000,0.606061,0.777778,1.0,1.0,2.0,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,0.500000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2232,208230,Alibek Kachmazov,17.158111,NaN,1491.0,R,RUS,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.518072,NaN,0.534884,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2233,127339,Borna Gojo,21.722108,NaN,280.0,R,CRO,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,0.616055,NaN,0.643789,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2234,122298,Botic Van De Zandschulp,24.123203,NaN,200.0,R,NED,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.577778,NaN,0.692308,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
columns_to_rename = {'l_ace' : 'aces_in_match_lost',
                    'w_ace': 'aces_in_match_won',
                    'l_first_serve': 'first_serve_percentage_match_lost',
                    'w_first_serve': 'first_serve_percentage_match_won',
                    'l_first_serve_win': 'first_serve_won_percentage_match_lost',
                    'w_first_serve_win': 'first_serve_won_percentage_match_won',
                    'l_break_points_won': 'breakpoints_won_match_lost',
                    'w_break_points_won': 'breakpoints_won_match_won'}
PD_merge = PD_merge.rename(columns = columns_to_rename)
PD_merge_predict = PD_merge

In [26]:
### filtering for players who only play 50 matches and their max rank was over 100

PD_merge = PD_merge[PD_merge.match_count > 50]
PD_merge = PD_merge[PD_merge.MaxRank < 100]
PD_merge

,PlayerID,Player_Name,Age,Height,MaxRank,Hand,Country,win_count,lose_count,match_count,win%,aces_in_match_lost,aces_in_match_won,ace_count,aces_per_game,first_serve_percentage_match_lost,first_serve_percentage_match_won,first_serve_won_percentage_match_lost,first_serve_won_percentage_match_won,breakpoints_won_match_lost,breakpoints_won_match_won,breakpoint_count,breakpoints_per_game,win_count_30,loss_count_30,win_count_100,loss_count_100,total_top30_matches,total_top100_matches,top_30_win%,top_100_win%,hard_surface_win,hard_surface_loss,hard_surface_match_count,hard_win%,clay_surface_win,clay_surface_loss,clay_surface_match_count,clay_win%,grass_surface_win,grass_surface_loss,grass_surface_match_count,grass_win%,carpet_surface_win,carpet_surface_loss,carpet_surface_match_count,carpet_win%
0,103720,Lleyton Hewitt,20.752909,180.0,1.0,R,AUS,458.0,196.0,654.0,0.70,183.0,422.0,605.0,0.925,0.525558,0.539098,0.675974,0.773470,183.0,422.0,605.0,0.925076,134.0,110.0,351.0,184.0,244.0,535.0,0.549180,0.656075,265.0,118.0,383.0,0.691906,85.0,46.0,131.0,0.648855,93.0,27.0,120.0,0.775000,15.0,5.0,20.0,0.750000
1,102158,Patrick Rafter,26.477755,185.0,2.0,R,AUS,97.0,44.0,141.0,0.69,40.0,86.0,126.0,0.894,0.637279,0.653328,0.700358,0.795185,40.0,86.0,126.0,0.893617,35.0,25.0,75.0,38.0,60.0,113.0,0.583333,0.663717,47.0,25.0,72.0,0.652778,14.0,11.0,25.0,0.560000,31.0,6.0,37.0,0.837838,5.0,2.0,7.0,0.714286
2,103017,Nicolas Kiefer,22.535250,183.0,4.0,R,GER,217.0,162.0,379.0,0.57,150.0,205.0,355.0,0.937,0.514047,0.537990,0.689337,0.792370,150.0,205.0,355.0,0.936675,70.0,87.0,168.0,148.0,157.0,316.0,0.445860,0.531646,141.0,88.0,229.0,0.615721,37.0,44.0,81.0,0.456790,19.0,14.0,33.0,0.575758,20.0,16.0,36.0,0.555556
3,210013,Martin Damm Sr,28.227242,188.0,67.0,R,CZE,19.0,32.0,51.0,0.37,31.0,19.0,50.0,0.980,0.546553,0.611743,0.693080,0.806999,31.0,19.0,50.0,0.980392,4.0,9.0,11.0,25.0,13.0,36.0,0.307692,0.305556,9.0,16.0,25.0,0.360000,4.0,7.0,11.0,0.363636,6.0,7.0,13.0,0.461538,0.0,0.0,0.0,0.000000
4,103264,Mariano Puerta,26.904860,180.0,9.0,L,ARG,76.0,79.0,155.0,0.49,77.0,70.0,147.0,0.948,0.637432,0.680268,0.613399,0.746508,77.0,70.0,147.0,0.948387,11.0,33.0,55.0,71.0,44.0,126.0,0.250000,0.436508,14.0,21.0,35.0,0.400000,61.0,48.0,109.0,0.559633,0.0,0.0,0.0,0.000000,1.0,7.0,8.0,0.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2028,200282,Alex De Minaur,20.711841,183.0,18.0,R,AUS,45.0,27.0,72.0,0.62,26.0,45.0,71.0,0.986,0.615800,0.628429,0.638539,0.775507,26.0,45.0,71.0,0.986111,6.0,12.0,37.0,22.0,18.0,59.0,0.333333,0.627119,40.0,16.0,56.0,0.714286,2.0,7.0,9.0,0.222222,3.0,4.0,7.0,0.428571,0.0,0.0,0.0,0.000000
2065,126774,Stefanos Tsitsipas,20.788501,193.0,6.0,R,GRE,62.0,37.0,99.0,0.63,37.0,62.0,99.0,1.000,0.584801,0.624753,0.735252,0.784889,37.0,62.0,99.0,1.000000,26.0,18.0,51.0,35.0,44.0,86.0,0.590909,0.593023,39.0,25.0,64.0,0.609375,18.0,8.0,26.0,0.692308,5.0,4.0,9.0,0.555556,0.0,0.0,0.0,0.000000
2078,105815,Tennys Sandgren,27.482546,188.0,41.0,R,USA,25.0,30.0,55.0,0.45,30.0,25.0,55.0,1.000,0.600247,0.633775,0.692401,0.799943,30.0,25.0,55.0,1.000000,6.0,7.0,18.0,24.0,13.0,42.0,0.461538,0.428571,13.0,13.0,26.0,0.500000,7.0,12.0,19.0,0.368421,5.0,5.0,10.0,0.500000,0.0,0.0,0.0,0.000000
2081,126610,Matteo Berrettini,23.581109,196.0,8.0,R,ITA,29.0,25.0,54.0,0.54,25.0,29.0,54.0,1.000,0.610410,0.628175,0.702783,0.822480,25.0,29.0,54.0,1.000000,6.0,10.0,21.0,21.0,16.0,42.0,0.375000,0.500000,9.0,13.0,22.0,0.409091,15.0,9.0,24.0,0.625000,5.0,3.0,8.0,0.625000,0.0,0.0,0.0,0.000000
2087,111815,Cameron Norrie,23.663244,188.0,45.0,L,GBR,27.0,28.0,55.0,0.49,28.0,27.0,55.0,1.000,0.631477,0.661185,0.648847,0.755990,28.0,27.0,55.0,1.000000,3.0,11.0,17.0,24.0,14.0,41.0,0.214286,0.414634,16.0,15.0,31.0,0.516129,6.0,6.0,12.0,0.500000,5.0,7.0,12.0,0.416667,0.0,0.0,0.0,0.000000

In [27]:
### PlayerData = over 50 games, top 100 rank, 1999-2019
PD_merge.to_csv('PlayerData.csv')

### note to upload this CSV

In [28]:
PD_merge_predict

,PlayerID,Player_Name,Age,Height,MaxRank,Hand,Country,win_count,lose_count,match_count,win%,aces_in_match_lost,aces_in_match_won,ace_count,aces_per_game,first_serve_percentage_match_lost,first_serve_percentage_match_won,first_serve_won_percentage_match_lost,first_serve_won_percentage_match_won,breakpoints_won_match_lost,breakpoints_won_match_won,breakpoint_count,breakpoints_per_game,win_count_30,loss_count_30,win_count_100,loss_count_100,total_top30_matches,total_top100_matches,top_30_win%,top_100_win%,hard_surface_win,hard_surface_loss,hard_surface_match_count,hard_win%,clay_surface_win,clay_surface_loss,clay_surface_match_count,clay_win%,grass_surface_win,grass_surface_loss,grass_surface_match_count,grass_win%,carpet_surface_win,carpet_surface_loss,carpet_surface_match_count,carpet_win%
0,103720,Lleyton Hewitt,20.752909,180.0,1.0,R,AUS,458.0,196.0,654.0,0.70,183.0,422.0,605.0,0.925,0.525558,0.539098,0.675974,0.773470,183.0,422.0,605.0,0.925076,134.0,110.0,351.0,184.0,244.0,535.0,0.549180,0.656075,265.0,118.0,383.0,0.691906,85.0,46.0,131.0,0.648855,93.0,27.0,120.0,0.775000,15.0,5.0,20.0,0.750000
1,102158,Patrick Rafter,26.477755,185.0,2.0,R,AUS,97.0,44.0,141.0,0.69,40.0,86.0,126.0,0.894,0.637279,0.653328,0.700358,0.795185,40.0,86.0,126.0,0.893617,35.0,25.0,75.0,38.0,60.0,113.0,0.583333,0.663717,47.0,25.0,72.0,0.652778,14.0,11.0,25.0,0.560000,31.0,6.0,37.0,0.837838,5.0,2.0,7.0,0.714286
2,103017,Nicolas Kiefer,22.535250,183.0,4.0,R,GER,217.0,162.0,379.0,0.57,150.0,205.0,355.0,0.937,0.514047,0.537990,0.689337,0.792370,150.0,205.0,355.0,0.936675,70.0,87.0,168.0,148.0,157.0,316.0,0.445860,0.531646,141.0,88.0,229.0,0.615721,37.0,44.0,81.0,0.456790,19.0,14.0,33.0,0.575758,20.0,16.0,36.0,0.555556
3,210013,Martin Damm Sr,28.227242,188.0,67.0,R,CZE,19.0,32.0,51.0,0.37,31.0,19.0,50.0,0.980,0.546553,0.611743,0.693080,0.806999,31.0,19.0,50.0,0.980392,4.0,9.0,11.0,25.0,13.0,36.0,0.307692,0.305556,9.0,16.0,25.0,0.360000,4.0,7.0,11.0,0.363636,6.0,7.0,13.0,0.461538,0.0,0.0,0.0,0.000000
4,103264,Mariano Puerta,26.904860,180.0,9.0,L,ARG,76.0,79.0,155.0,0.49,77.0,70.0,147.0,0.948,0.637432,0.680268,0.613399,0.746508,77.0,70.0,147.0,0.948387,11.0,33.0,55.0,71.0,44.0,126.0,0.250000,0.436508,14.0,21.0,35.0,0.400000,61.0,48.0,109.0,0.559633,0.0,0.0,0.0,0.000000,1.0,7.0,8.0,0.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2230,144984,Artem Dubrivnyy,20.700890,NaN,424.0,R,RUS,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.632353,NaN,0.465116,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2231,200553,Alen Avidzba,19.635866,NaN,498.0,R,RUS,1.0,1.0,2.0,0.50,1.0,1.0,2.0,1.000,0.492537,0.625000,0.606061,0.777778,1.0,1.0,2.0,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,0.500000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2232,208230,Alibek Kachmazov,17.158111,NaN,1491.0,R,RUS,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.518072,NaN,0.534884,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2233,127339,Borna Gojo,21.722108,NaN,280.0,R,CRO,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,0.616055,NaN,0.643789,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2234,122298,Botic Van De Zandschulp,24.123203,NaN,200.0,R,NED,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.577778,NaN,0.692308,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
### same
PD_merge_predict.shape
columns_drop = ['win_count', 'lose_count', 'match_count', 'aces_in_match_lost', 'aces_in_match_won', 'first_serve_percentage_match_lost',
              'first_serve_percentage_match_won', 'first_serve_won_percentage_match_lost', 'first_serve_won_percentage_match_won', 'breakpoints_won_match_lost',
              'breakpoints_won_match_won', 'win_count_30', 'loss_count_30', 'win_count_100', 'loss_count_100', 'total_top30_matches',
              'total_top100_matches', 'hard_surface_win', 'hard_surface_loss', 'hard_surface_match_count', 
              'clay_surface_win', 'clay_surface_loss', 'clay_surface_match_count',
              'grass_surface_win', 'grass_surface_loss', 'grass_surface_match_count',
              'carpet_surface_win', 'carpet_surface_loss', 'carpet_surface_match_count', 'Player_Name',
               'Height', ]

PD_merge_predict = PD_merge_predict.drop(columns_drop, 1)
PD_merge_predict
# aces = aces.drop(columns_drop, 1)

<ipython-input-29-bcd550d22e47>:12: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  PD_merge_predict = PD_merge_predict.drop(columns_drop, 1)

,PlayerID,Age,MaxRank,Hand,Country,win%,ace_count,aces_per_game,breakpoint_count,breakpoints_per_game,top_30_win%,top_100_win%,hard_win%,clay_win%,grass_win%,carpet_win%
0,103720,20.752909,1.0,R,AUS,0.70,605.0,0.925,605.0,0.925076,0.549180,0.656075,0.691906,0.648855,0.775000,0.750000
1,102158,26.477755,2.0,R,AUS,0.69,126.0,0.894,126.0,0.893617,0.583333,0.663717,0.652778,0.560000,0.837838,0.714286
2,103017,22.535250,4.0,R,GER,0.57,355.0,0.937,355.0,0.936675,0.445860,0.531646,0.615721,0.456790,0.575758,0.555556
3,210013,28.227242,67.0,R,CZE,0.37,50.0,0.980,50.0,0.980392,0.307692,0.305556,0.360000,0.363636,0.461538,0.000000
4,103264,26.904860,9.0,L,ARG,0.49,147.0,0.948,147.0,0.948387,0.250000,0.436508,0.400000,0.559633,0.000000,0.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2230,144984,20.700890,424.0,R,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2231,200553,19.635866,498.0,R,RUS,0.50,2.0,1.000,2.0,1.000000,NaN,NaN,0.500000,0.000000,0.000000,0.000000
2232,208230,17.158111,1491.0,R,RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2233,127339,21.722108,280.0,R,CRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2234,122298,24.123203,200.0,R,NED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
pd30 = pd.read_csv('PlayerData30.csv')
pd30

,Unnamed: 0,PlayerID,Player_Name,Height(cm),Matches Played,Overall Win%,Top 100 Win %,Top 30 Win %,First Serve %,First Serve Win %,BPSave %,BPConv %,Aces/Match,DF/Match,Future Top 30
0,103720,103720,Lleyton Hewitt,180.0,30,0.700000,0.689655,0.500000,0.614167,0.723759,0.642105,0.450000,3.633333,2.166667,True
1,103017,103017,Nicolas Kiefer,183.0,30,0.633333,0.583333,0.571429,0.512586,0.756438,0.631336,0.421053,6.333333,4.800000,True
2,103264,103264,Mariano Puerta,180.0,30,0.333333,0.259259,0.090909,0.655638,0.652213,0.633094,0.423913,3.866667,2.166667,True
3,102845,102845,Carlos Moya,190.0,30,0.633333,0.545455,0.454545,0.537364,0.683812,0.648464,0.405229,4.266667,3.666667,True
4,102563,102563,Thomas Johansson,180.0,30,0.533333,0.428571,0.375000,0.509013,0.754888,0.625571,0.410959,7.666667,3.233333,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,126774,126774,Stefanos Tsitsipas,193.0,30,0.466667,0.444444,0.454545,0.572467,0.768238,0.600000,0.388889,7.500000,2.466667,True
243,126610,126610,Matteo Berrettini,196.0,30,0.500000,0.409091,0.166667,0.606633,0.763902,0.588235,0.345946,7.366667,2.300000,True
244,111815,111815,Cameron Norrie,188.0,30,0.466667,0.333333,0.272727,0.627597,0.699960,0.642857,0.392405,5.033333,4.100000,False
245,132283,132283,Lorenzo Sonego,191.0,30,0.533333,0.500000,0.333333,0.645355,0.733773,0.624413,0.336898,7.600000,1.733333,False
246,200175,200175,Miomir Kecmanovic,183.0,30,0.466667,0.400000,0.000000,0.603703,0.716056,0.661616,0.373418,3.566667,2.600000,False

In [31]:
pd30


columns_to_rename = {'Overall Win%' : 'Overall_Win%_30matches',
                      'Top 100 Win %': 'Top_100_Win%_30matches',
                      'winner_entry': 'Player1_entry',
                      'Top 30 Win %': 'Top_30_Win%_30matches',
                      'First Serve %': 'First_Serve%_30matches',
                      'First Serve Win %': 'First_Serve_Win%_30matches',
                      'BPSave %': 'BPSave%_30matches',
                      'BPConv %': 'BPConv%_30matches',
                      'Aces/Match': 'Aces/Match_30matches',
                      'DF/Match': 'DF/Match_30matches'}
pd30 = pd30.rename(columns = columns_to_rename)
pd30

,Unnamed: 0,PlayerID,Player_Name,Height(cm),Matches Played,Overall_Win%_30matches,Top_100_Win%_30matches,Top_30_Win%_30matches,First_Serve%_30matches,First_Serve_Win%_30matches,BPSave%_30matches,BPConv%_30matches,Aces/Match_30matches,DF/Match_30matches,Future Top 30
0,103720,103720,Lleyton Hewitt,180.0,30,0.700000,0.689655,0.500000,0.614167,0.723759,0.642105,0.450000,3.633333,2.166667,True
1,103017,103017,Nicolas Kiefer,183.0,30,0.633333,0.583333,0.571429,0.512586,0.756438,0.631336,0.421053,6.333333,4.800000,True
2,103264,103264,Mariano Puerta,180.0,30,0.333333,0.259259,0.090909,0.655638,0.652213,0.633094,0.423913,3.866667,2.166667,True
3,102845,102845,Carlos Moya,190.0,30,0.633333,0.545455,0.454545,0.537364,0.683812,0.648464,0.405229,4.266667,3.666667,True
4,102563,102563,Thomas Johansson,180.0,30,0.533333,0.428571,0.375000,0.509013,0.754888,0.625571,0.410959,7.666667,3.233333,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,126774,126774,Stefanos Tsitsipas,193.0,30,0.466667,0.444444,0.454545,0.572467,0.768238,0.600000,0.388889,7.500000,2.466667,True
243,126610,126610,Matteo Berrettini,196.0,30,0.500000,0.409091,0.166667,0.606633,0.763902,0.588235,0.345946,7.366667,2.300000,True
244,111815,111815,Cameron Norrie,188.0,30,0.466667,0.333333,0.272727,0.627597,0.699960,0.642857,0.392405,5.033333,4.100000,False
245,132283,132283,Lorenzo Sonego,191.0,30,0.533333,0.500000,0.333333,0.645355,0.733773,0.624413,0.336898,7.600000,1.733333,False
246,200175,200175,Miomir Kecmanovic,183.0,30,0.466667,0.400000,0.000000,0.603703,0.716056,0.661616,0.373418,3.566667,2.600000,False

In [32]:
data_frames = [PD_merge_predict, pd30]

PD_merge_30 = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
                                            how='inner'), data_frames)


PD_merge_30

,PlayerID,Age,MaxRank,Hand,Country,win%,ace_count,aces_per_game,breakpoint_count,breakpoints_per_game,top_30_win%,top_100_win%,hard_win%,clay_win%,grass_win%,carpet_win%,Unnamed: 0,Player_Name,Height(cm),Matches Played,Overall_Win%_30matches,Top_100_Win%_30matches,Top_30_Win%_30matches,First_Serve%_30matches,First_Serve_Win%_30matches,BPSave%_30matches,BPConv%_30matches,Aces/Match_30matches,DF/Match_30matches,Future Top 30
0,103720,20.752909,1.0,R,AUS,0.70,605.0,0.925,605.0,0.925076,0.549180,0.656075,0.691906,0.648855,0.775000,0.750000,103720,Lleyton Hewitt,180.0,30,0.700000,0.689655,0.500000,0.614167,0.723759,0.642105,0.450000,3.633333,2.166667,True
1,103017,22.535250,4.0,R,GER,0.57,355.0,0.937,355.0,0.936675,0.445860,0.531646,0.615721,0.456790,0.575758,0.555556,103017,Nicolas Kiefer,183.0,30,0.633333,0.583333,0.571429,0.512586,0.756438,0.631336,0.421053,6.333333,4.800000,True
2,103264,26.904860,9.0,L,ARG,0.49,147.0,0.948,147.0,0.948387,0.250000,0.436508,0.400000,0.559633,0.000000,0.125000,103264,Mariano Puerta,180.0,30,0.333333,0.259259,0.090909,0.655638,0.652213,0.633094,0.423913,3.866667,2.166667,True
3,102845,22.546201,1.0,R,ESP,0.64,444.0,0.957,444.0,0.956897,0.500000,0.597297,0.563536,0.704280,0.500000,0.583333,102845,Carlos Moya,190.0,30,0.633333,0.545455,0.454545,0.537364,0.683812,0.648464,0.405229,4.266667,3.666667,True
4,102563,27.214237,7.0,R,SWE,0.54,328.0,0.909,328.0,0.908587,0.308333,0.489933,0.550505,0.369231,0.666667,0.613636,102563,Thomas Johansson,180.0,30,0.533333,0.428571,0.375000,0.509013,0.754888,0.625571,0.410959,7.666667,3.233333,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,126774,20.788501,6.0,R,GRE,0.63,99.0,1.000,99.0,1.000000,0.590909,0.593023,0.609375,0.692308,0.555556,0.000000,126774,Stefanos Tsitsipas,193.0,30,0.466667,0.444444,0.454545,0.572467,0.768238,0.600000,0.388889,7.500000,2.466667,True
243,126610,23.581109,8.0,R,ITA,0.54,54.0,1.000,54.0,1.000000,0.375000,0.500000,0.409091,0.625000,0.625000,0.000000,126610,Matteo Berrettini,196.0,30,0.500000,0.409091,0.166667,0.606633,0.763902,0.588235,0.345946,7.366667,2.300000,True
244,111815,23.663244,45.0,L,GBR,0.49,55.0,1.000,55.0,1.000000,0.214286,0.414634,0.516129,0.500000,0.416667,0.000000,111815,Cameron Norrie,188.0,30,0.466667,0.333333,0.272727,0.627597,0.699960,0.642857,0.392405,5.033333,4.100000,False
245,132283,24.139630,46.0,R,ITA,0.48,33.0,1.000,33.0,1.000000,0.285714,0.461538,0.363636,0.466667,0.714286,0.000000,132283,Lorenzo Sonego,191.0,30,0.533333,0.500000,0.333333,0.645355,0.733773,0.624413,0.336898,7.600000,1.733333,False
246,200175,19.967146,49.0,R,SRB,0.48,31.0,1.000,31.0,1.000000,NaN,NaN,0.450000,0.250000,0.714286,0.000000,200175,Miomir Kecmanovic,183.0,30,0.466667,0.400000,0.000000,0.603703,0.716056,0.661616,0.373418,3.566667,2.600000,False

In [33]:
PD_merge_30.isnull().sum()

PlayerID                      0
Age                           0
MaxRank                       8
Hand                          0
Country                       0
win%                          0
ace_count                     0
aces_per_game                 0
breakpoint_count              0
breakpoints_per_game          0
top_30_win%                   7
top_100_win%                  7
hard_win%                     0
clay_win%                     0
grass_win%                    0
carpet_win%                   0
Unnamed: 0                    0
Player_Name                   0
Height(cm)                    0
Matches Played                0
Overall_Win%_30matches        0
Top_100_Win%_30matches        0
Top_30_Win%_30matches         0
First_Serve%_30matches        0
First_Serve_Win%_30matches    0
BPSave%_30matches             0
BPConv%_30matches             0
Aces/Match_30matches          0
DF/Match_30matches            0
Future Top 30                 0
dtype: int64

In [34]:
PD_merge_30 = PD_merge_30.dropna()
PD_merge_30

,PlayerID,Age,MaxRank,Hand,Country,win%,ace_count,aces_per_game,breakpoint_count,breakpoints_per_game,top_30_win%,top_100_win%,hard_win%,clay_win%,grass_win%,carpet_win%,Unnamed: 0,Player_Name,Height(cm),Matches Played,Overall_Win%_30matches,Top_100_Win%_30matches,Top_30_Win%_30matches,First_Serve%_30matches,First_Serve_Win%_30matches,BPSave%_30matches,BPConv%_30matches,Aces/Match_30matches,DF/Match_30matches,Future Top 30
0,103720,20.752909,1.0,R,AUS,0.70,605.0,0.925,605.0,0.925076,0.549180,0.656075,0.691906,0.648855,0.775000,0.750000,103720,Lleyton Hewitt,180.0,30,0.700000,0.689655,0.500000,0.614167,0.723759,0.642105,0.450000,3.633333,2.166667,True
1,103017,22.535250,4.0,R,GER,0.57,355.0,0.937,355.0,0.936675,0.445860,0.531646,0.615721,0.456790,0.575758,0.555556,103017,Nicolas Kiefer,183.0,30,0.633333,0.583333,0.571429,0.512586,0.756438,0.631336,0.421053,6.333333,4.800000,True
2,103264,26.904860,9.0,L,ARG,0.49,147.0,0.948,147.0,0.948387,0.250000,0.436508,0.400000,0.559633,0.000000,0.125000,103264,Mariano Puerta,180.0,30,0.333333,0.259259,0.090909,0.655638,0.652213,0.633094,0.423913,3.866667,2.166667,True
3,102845,22.546201,1.0,R,ESP,0.64,444.0,0.957,444.0,0.956897,0.500000,0.597297,0.563536,0.704280,0.500000,0.583333,102845,Carlos Moya,190.0,30,0.633333,0.545455,0.454545,0.537364,0.683812,0.648464,0.405229,4.266667,3.666667,True
4,102563,27.214237,7.0,R,SWE,0.54,328.0,0.909,328.0,0.908587,0.308333,0.489933,0.550505,0.369231,0.666667,0.613636,102563,Thomas Johansson,180.0,30,0.533333,0.428571,0.375000,0.509013,0.754888,0.625571,0.410959,7.666667,3.233333,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,200282,20.711841,18.0,R,AUS,0.62,71.0,0.986,71.0,0.986111,0.333333,0.627119,0.714286,0.222222,0.428571,0.000000,200282,Alex De Minaur,183.0,30,0.466667,0.500000,0.200000,0.611875,0.673690,0.583969,0.401639,4.633333,3.700000,True
242,126774,20.788501,6.0,R,GRE,0.63,99.0,1.000,99.0,1.000000,0.590909,0.593023,0.609375,0.692308,0.555556,0.000000,126774,Stefanos Tsitsipas,193.0,30,0.466667,0.444444,0.454545,0.572467,0.768238,0.600000,0.388889,7.500000,2.466667,True
243,126610,23.581109,8.0,R,ITA,0.54,54.0,1.000,54.0,1.000000,0.375000,0.500000,0.409091,0.625000,0.625000,0.000000,126610,Matteo Berrettini,196.0,30,0.500000,0.409091,0.166667,0.606633,0.763902,0.588235,0.345946,7.366667,2.300000,True
244,111815,23.663244,45.0,L,GBR,0.49,55.0,1.000,55.0,1.000000,0.214286,0.414634,0.516129,0.500000,0.416667,0.000000,111815,Cameron Norrie,188.0,30,0.466667,0.333333,0.272727,0.627597,0.699960,0.642857,0.392405,5.033333,4.100000,False
245,132283,24.139630,46.0,R,ITA,0.48,33.0,1.000,33.0,1.000000,0.285714,0.461538,0.363636,0.466667,0.714286,0.000000,132283,Lorenzo Sonego,191.0,30,0.533333,0.500000,0.333333,0.645355,0.733773,0.624413,0.336898,7.600000,1.733333,False

In [35]:
### same
PD_merge_predict.shape
columns_drop = ['win_count', 'lose_count', 'match_count', 'aces_in_match_lost', 'aces_in_match_won', 'first_serve_percentage_match_lost',
              'first_serve_percentage_match_won', 'first_serve_won_percentage_match_lost', 'first_serve_won_percentage_match_won', 'breakpoints_won_match_lost',
              'breakpoints_won_match_won', 'win_count_30', 'loss_count_30', 'win_count_100', 'loss_count_100', 'total_top30_matches',
              'total_top100_matches', 'hard_surface_win', 'hard_surface_loss', 'hard_surface_match_count', 
              'clay_surface_win', 'clay_surface_loss', 'clay_surface_match_count',
              'grass_surface_win', 'grass_surface_loss', 'grass_surface_match_count',
              'carpet_surface_win', 'carpet_surface_loss', 'carpet_surface_match_count']

PD_merge_predict = PD_merge_predict.drop(columns_drop, 1)
PD_merge_predict

<ipython-input-35-4654ffca613c>:11: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  PD_merge_predict = PD_merge_predict.drop(columns_drop, 1)

KeyError: "['win_count' 'lose_count' 'match_count' 'aces_in_match_lost'\n 'aces_in_match_won' 'first_serve_percentage_match_lost'\n 'first_serve_percentage_match_won'\n 'first_serve_won_percentage_match_lost'\n 'first_serve_won_percentage_match_won' 'breakpoints_won_match_lost'\n 'breakpoints_won_match_won' 'win_count_30' 'loss_count_30'\n 'win_count_100' 'loss_count_100' 'total_top30_matches'\n 'total_top100_matches' 'hard_surface_win' 'hard_surface_loss'\n 'hard_surface_match_count' 'clay_surface_win' 'clay_surface_loss'\n 'clay_surface_match_count' 'grass_surface_win' 'grass_surface_loss'\n 'grass_surface_match_count' 'carpet_surface_win' 'carpet_surface_loss'\n 'carpet_surface_match_count'] not found in axis"

In [37]:
PD_merge_30 = pd.read_csv('PD_merge_30.csv')
PD_merge_30
#columns_drop =['Height(cm)', 'lose_count', 'match_count', 'win%', 'Unnamed: 0.1']

,Unnamed: 0,PlayerID,Player_Name_x,Age,Height,MaxRank,Hand,Country,win%,ace_count,aces_per_game,breakpoint_count,breakpoints_per_game,top_30_win%,top_100_win%,hard_win%,clay_win%,grass_win%,carpet_win%,Unnamed: 0.1,Player_Name_y,Height(cm),Matches Played,Overall_Win%_30matches,Top_100_Win%_30matches,Top_30_Win%_30matches,First_Serve%_30matches,First_Serve_Win%_30matches,BPSave%_30matches,BPConv%_30matches,Aces/Match_30matches,DF/Match_30matches,Future Top 30
0,0,103720,Lleyton Hewitt,20.752909,180.0,1.0,R,AUS,0.70,605.0,0.925,605.0,0.925076,0.549180,0.656075,0.691906,0.648855,0.775000,0.750000,103720,Lleyton Hewitt,180.0,30,0.700000,0.689655,0.500000,0.614167,0.723759,0.642105,0.450000,3.633333,2.166667,True
1,1,103017,Nicolas Kiefer,22.535250,183.0,4.0,R,GER,0.57,355.0,0.937,355.0,0.936675,0.445860,0.531646,0.615721,0.456790,0.575758,0.555556,103017,Nicolas Kiefer,183.0,30,0.633333,0.583333,0.571429,0.512586,0.756438,0.631336,0.421053,6.333333,4.800000,True
2,2,103264,Mariano Puerta,26.904860,180.0,9.0,L,ARG,0.49,147.0,0.948,147.0,0.948387,0.250000,0.436508,0.400000,0.559633,0.000000,0.125000,103264,Mariano Puerta,180.0,30,0.333333,0.259259,0.090909,0.655638,0.652213,0.633094,0.423913,3.866667,2.166667,True
3,3,102845,Carlos Moya,22.546201,190.0,1.0,R,ESP,0.64,444.0,0.957,444.0,0.956897,0.500000,0.597297,0.563536,0.704280,0.500000,0.583333,102845,Carlos Moya,190.0,30,0.633333,0.545455,0.454545,0.537364,0.683812,0.648464,0.405229,4.266667,3.666667,True
4,4,102563,Thomas Johansson,27.214237,180.0,7.0,R,SWE,0.54,328.0,0.909,328.0,0.908587,0.308333,0.489933,0.550505,0.369231,0.666667,0.613636,102563,Thomas Johansson,180.0,30,0.533333,0.428571,0.375000,0.509013,0.754888,0.625571,0.410959,7.666667,3.233333,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,241,200282,Alex De Minaur,20.711841,183.0,18.0,R,AUS,0.62,71.0,0.986,71.0,0.986111,0.333333,0.627119,0.714286,0.222222,0.428571,0.000000,200282,Alex De Minaur,183.0,30,0.466667,0.500000,0.200000,0.611875,0.673690,0.583969,0.401639,4.633333,3.700000,True
228,242,126774,Stefanos Tsitsipas,20.788501,193.0,6.0,R,GRE,0.63,99.0,1.000,99.0,1.000000,0.590909,0.593023,0.609375,0.692308,0.555556,0.000000,126774,Stefanos Tsitsipas,193.0,30,0.466667,0.444444,0.454545,0.572467,0.768238,0.600000,0.388889,7.500000,2.466667,True
229,243,126610,Matteo Berrettini,23.581109,196.0,8.0,R,ITA,0.54,54.0,1.000,54.0,1.000000,0.375000,0.500000,0.409091,0.625000,0.625000,0.000000,126610,Matteo Berrettini,196.0,30,0.500000,0.409091,0.166667,0.606633,0.763902,0.588235,0.345946,7.366667,2.300000,True
230,244,111815,Cameron Norrie,23.663244,188.0,45.0,L,GBR,0.49,55.0,1.000,55.0,1.000000,0.214286,0.414634,0.516129,0.500000,0.416667,0.000000,111815,Cameron Norrie,188.0,30,0.466667,0.333333,0.272727,0.627597,0.699960,0.642857,0.392405,5.033333,4.100000,False
231,245,132283,Lorenzo Sonego,24.139630,191.0,46.0,R,ITA,0.48,33.0,1.000,33.0,1.000000,0.285714,0.461538,0.363636,0.466667,0.714286,0.000000,132283,Lorenzo Sonego,191.0,30,0.533333,0.500000,0.333333,0.645355,0.733773,0.624413,0.336898,7.600000,1.733333,False

In [ ]:
#saving combo to csv
#PD_merge_30.to_csv('PD_merge_30.csv')

In [ ]:
### Future prediction ---
#PD_merge_predict['Top30'] == PD_merge_predict['MaxRank'] <= 30 
#PD_merge_predict[PD_merge_predict['MaxRank'] <= 30]

In [ ]:
PD_merge[PD_merge.MaxRank == 1]

## NOTES:

- There are only five players in the Top 50 of the ATP Rankings that hit on average at least one ace per service game in 2018. Aces are the ultimate serve weapon, but performance varies greatly at the pinnacle of our sport with the number of aces hit per game

Feder, Murray, Nadal, Roddick, Djokovic

#win% likely wrong
aces_in_match_lost
match_wins & match_loss

l_first_serve = first serve percentage matches lost

ace_count / match_count() - check

In [ ]:
# ### BULK FUNCTION TO BUILD OUT PLAYER DATABASE ### -

# PlayerColumns = ['PlayerID', 'Player_Name', 'Age', 'Height', 'MaxRank', 'Hand', 'Country', 'Matches', 'Aces', 'Double_Faults', 'First_Serve_%', 'First_Serve_Win_%', 'Breakpoints_Won']

# PlayerData = pd.DataFrame(columns = PlayerColumns)
# PlayerData.set_index('PlayerID')

# #Creating data for the PlayerData dataframe
# for index, row in df.iterrows():
#     #player was id as player_1
#     p1_id = int(row.player_1_id)
    
#     #checking
#     if (p1_id not in PlayerData.index):
#         PlayerData.loc[p1_id] = [p1_id, row.player_1_name, row.player_1_age, row.player_1_ht, row.player_1_rank, row.player_1_hand, row.player_1_ioc, row.player_1_counter, row.player_1_aces, row.player_1_double_faults, row.player_1_first_serve_percent, row.player_1_first_serve_win_percent, row.player_1_break_points_won]

#     #Updating best rank
#     #Update rank with best rank value
#     if(row.player_1_rank < PlayerData.loc[p1_id].MaxRank and not np.isnan(PlayerData.loc[p1_id].MaxRank)):
#         PlayerData.loc[p1_id] = [p1_id, row.player_1_name, row.player_1_age, row.player_1_ht, row.player_1_rank, row.player_1_hand, row.player_1_ioc, row.player_1_counter ,row.player_1_aces, row.player_1_double_faults, row.player_1_first_serve_percent, row.player_1_first_serve_win_percent, row.player_1_break_points_won]
        
#     else:
#         PlayerData.loc[p1_id] = [p1_id, row.player_1_name, row.player_1_age, row.player_1_ht, row.player_1_rank, row.player_1_hand, row.player_1_ioc, row.player_1_counter, row.player_1_aces, row.player_1_double_faults, row.player_1_first_serve_percent, row.player_1_first_serve_win_percent, row.player_1_break_points_won]
        
        
#     #same code but for player2 (as they were set randomly)
#     p2_id = int(row.player_2_id)
    
#     #checking
#     if (p2_id not in PlayerData.index):
#         PlayerData.loc[p2_id] = [p2_id, row.player_2_name, row.player_2_age, row.player_2_ht, row.player_2_rank, row.player_2_hand, row.player_2_ioc, row.player_2_counter, row.player_2_aces, row.player_2_double_faults, row.player_2_first_serve_percent, row.player_2_first_serve_win_percent, row.player_2_break_points_won]

#     #Updating best rank
#     #Update rank with best rank value
#     if(row.player_2_rank < PlayerData.loc[p2_id].MaxRank and not np.isnan(PlayerData.loc[p2_id].MaxRank)):
#         PlayerData.loc[p2_id] = [p2_id, row.player_2_name, row.player_2_age, row.player_2_ht, row.player_2_rank, row.player_2_hand, row.player_2_ioc, row.player_2_counter, row.player_2_aces, row.player_2_double_faults, row.player_2_first_serve_percent, row.player_2_first_serve_win_percent, row.player_2_break_points_won]
        
#     else:
#         PlayerData.loc[p2_id] = [p2_id, row.player_2_name, row.player_2_age, row.player_2_ht, row.player_2_rank, row.player_2_hand, row.player_2_ioc, row.player_2_counter, row.player_2_aces, row.player_2_double_faults, row.player_2_first_serve_percent, row.player_2_first_serve_win_percent, row.player_2_break_points_won]

In [ ]:
import re
def total_games(s):
    num_list = re.findall('\d+', s)
    num_list = [int(x) for x in num_list]
    return sum(num_list)

df['total_games'] = df['score'].apply(total_games)
df

In [ ]:
# ### creating databases for surface type
# hard = df[df.surface == 'Hard']
# clay = df[df.surface == 'Clay']
# grass = df[df.surface == 'Grass']
# carpet = df[df.surface == 'Carpet']

# #Hard
# hard_win = hard.groupby('winner_id')[['winner_name']].agg('count').sort_values(by='winner_id').astype(int).reset_index()
# hard_win = hard_win.rename(columns={'winner_name': 'hard_surface_win', 'winner_id' : 'PlayerID'})
# hard_loss = hard.groupby('loser_id')[['loser_name']].agg('count').sort_values(by='loser_id').astype(int).reset_index()
# hard_loss = hard_loss.rename(columns={'loser_name': 'hard_surface_loss', 'loser_id' : 'PlayerID'})
# data_frames = [hard_win, hard_loss]
# hard_df = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
#                                             how='left'), data_frames)
# #putting losses to 0 count
# hard_df = hard_df.fillna(0)
# hard_df['hard_surface_match_count'] = hard_df['hard_surface_win'] + hard_df['hard_surface_loss']
# hard_df['hard_win%'] = hard_df['hard_surface_win'] / hard_df['hard_surface_match_count']

# # #Clay
# clay_win = clay.groupby('winner_id')[['winner_name']].agg('count').sort_values(by='winner_id').astype(int).reset_index()
# clay_win = clay_win.rename(columns={'winner_name': 'clay_surface_win', 'winner_id' : 'PlayerID'})
# clay_loss = clay.groupby('loser_id')[['loser_name']].agg('count').sort_values(by='loser_id').astype(int).reset_index()
# clay_loss = clay_loss.rename(columns={'loser_name': 'clay_surface_loss', 'loser_id' : 'PlayerID'})
# data_frames = [clay_win, clay_loss]
# clay_df = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
#                                             how='left'), data_frames)
# #putting losses to 0 count
# clay_df = clay_df.fillna(0)
# clay_df['clay_surface_match_count'] = clay_df['clay_surface_win'] + clay_df['clay_surface_loss']
# clay_df['clay_win%'] = clay_df['clay_surface_win'] / clay_df['clay_surface_match_count']


# #Grass
# grass_win = grass.groupby('winner_id')[['winner_name']].agg('count').sort_values(by='winner_id').astype(int).reset_index()
# grass_win = grass_win.rename(columns={'winner_name': 'grass_surface_win', 'winner_id' : 'PlayerID'})
# grass_loss = grass.groupby('loser_id')[['loser_name']].agg('count').sort_values(by='loser_id').astype(int).reset_index()
# grass_loss = grass_loss.rename(columns={'loser_name': 'grass_surface_loss', 'loser_id' : 'PlayerID'})
# data_frames = [grass_win, grass_loss]
# grass_df = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
#                                             how='left'), data_frames)
# #putting losses to 0 count
# grass_df = grass_df.fillna(0)
# grass_df['grass_surface_match_count'] = grass_df['grass_surface_win'] + grass_df['grass_surface_loss']
# grass_df['grass_win%'] = grass_df['grass_surface_win'] / grass_df['grass_surface_match_count']

# #Carpet
# carpet_win = carpet.groupby('winner_id')[['winner_name']].agg('count').sort_values(by='winner_id').astype(int).reset_index()
# carpet_win = carpet_win.rename(columns={'winner_name': 'carpet_surface_win', 'winner_id' : 'PlayerID'})
# carpet_loss = carpet.groupby('loser_id')[['loser_name']].agg('count').sort_values(by='loser_id').astype(int).reset_index()
# carpet_loss = carpet_loss.rename(columns={'loser_name': 'carpet_surface_loss', 'loser_id' : 'PlayerID'})
# data_frames = [carpet_win, carpet_loss]
# carpet_df = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
#                                             how='left'), data_frames)
# #putting losses to 0 count
# carpet_df = carpet_df.fillna(0)
# carpet_df['carpet_surface_match_count'] = carpet_df['carpet_surface_win'] + carpet_df['carpet_surface_loss']
# carpet_df['carpet_win%'] = carpet_df['carpet_surface_win'] / carpet_df['carpet_surface_match_count']

# data_frames = [hard_df, clay_df, grass_df, carpet_df]
# surface = reduce(lambda  left,right: pd.merge(left,right,on=['PlayerID'],
#                                             how='left'), data_frames)

# surface.isnull().sum()